<div class="app-header">
    <div class="header-title" k="គណនីរបស់ខ្ញុំ">My Account</div>    
</div>
<ion-view hide-nav-bar="true" class="header-view">
    <ion-content style="display:none" id="account_logined">  
        <div class="gh">
            <div class="a">
                <div class="c" id="full_name"></div>
                <div class="d" id="phone_number"></div>
            </div>
            <div class="b">
                <div class="e">
                    <span class="ion-ios-email-outline"></span>
                    <span class="ion-ios-bell-outline"></span>
                    <span onclick="window.location.href='#tab/account_settings'" class="ion-ios-gear-outline"></span>
                </div>
                <img id="profile_pic">
            </div>
        </div>
        <div class="hr"></div>
        <ul class="mr">
            <ion-item href="#tab/my_order">
            <span class="b ion-ios-list-outline"></span>
                <span k="ការកម្មង់របស់ខ្ញុំ">My Orders</span>
                <span class="fa fa-angle-right"></span>
            </ion-item>
            <ion-item href="#tab/wishlist">
                <span class="b ion-ios-heart-outline"></span>
                <span k="ទំនិញចង់បាន">My Wishlist</span>
                <span class="fa fa-angle-right"></span>
            </ion-item>
            <ion-item href="#tab/shipping_addr">
                <span class="b ion-ios-location-outline"></span>
                <span k="អាស័យដ្ឋានដឹកជញ្ជូន">My Shipping Address</span>
                <span class="fa fa-angle-right"></span>
            </ion-item>
            <ion-item href="#tab/review">
                <span class="b ion-ios-star-outline"></span>
                <span k="រង្វាយតម្លៃ">My Reviews</span>
                <span class="fa fa-angle-right"></span>
            </ion-item>
            <ion-item href="#tab/question">
                <span class="b ion-ios-help-outline"></span>
                <span k="សំនួរ ចម្លើយ">My Questions</span>
                <span class="fa fa-angle-right"></span>
            </ion-item>
            <ion-item href="#tab/viewed_item">
                <span class="b ion-ios-eye-outline"></span>
                <span k="ទំនិញដែលទើបចូលមើល">Recently Viewed Products</span>
                <span class="fa fa-angle-right"></span>
            </ion-item>
        </ul>                  
  </ion-content>
    <ion-content id="account_not_logined">
        <div class="pw">
            <div class="a" k="អ្នកមិនទាន់បានចូលគណនីនៅឡើយ។">You are not signed in yet.</div>    
            <button class="btn" onclick="openModal('sign_in_modal')" k="ចូលគណនី / ចុះឈ្មោះ">Sign In / Register</button>
        </div>
    </ion-content>
</ion-view>

<script>
    la();
    loadMyAccount();
    function loadMyAccount(){
        /* Initialize login info */        
        if (user_id != 'not_login'){
            $('#account_logined').show();
            $('#account_not_logined').hide();
            $('.gh #full_name').text(localStorage.getItem('full_name'));
            $('.gh #phone_number').text(localStorage.getItem('phone_number'));
            $('.gh #profile_pic').attr('src', URL+'users/'+localStorage.getItem('user_id')+'/profile.jpg');            
        } else {
            $('#account_logined').hide();
            $('#account_not_logined').show();
            openModal('sign_in_modal');
        }
        /*
        setTimeout(function() {
            if (!isLogined()) {
                $('#register_click').click();        
            } else {
                
                $('.gh #full_name').text(localStorage.getItem('full_name'));
                $('.gh #phone_number').text(localStorage.getItem('phone_number'));
                $('.gh #profile_pic').attr('src', URL+'users/'+localStorage.getItem('user_id')+'/profile.jpg');
            }   
        }, 1);
        */
    }
</script>


