<div class="sm-modal" id="change_name_modal">
    <div class="shadow"></div>
    <div class="header-title" k="ប្តូរឈ្មោះ">Change Full Name</div>
    <div class="back" onclick="closeModal('change_name_modal')">
        <span class="close ion-ios-close-empty"></span>
    </div>                        
    <ion-content class="sm-modal-body" style="padding:20px 10px">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label"  k="ឈ្មោះ">Full Name</span>
            <input type="text" k="ឧ: វង្ស វីរៈ" placeholder="ex: Vong Virak" id="full_name">
          </label>
        </div>
        <button class="btn" k="យល់ព្រម" onclick="changeName()">Okay</button>       
    </ion-content>
</div>

<div class="sm-modal" id="change_profile_pic_modal">
    <div class="shadow"></div>
    <div class="header-title" k="ប្តូររូបភាពគណនី">Change Profile Picture</div>
    <div class="back" onclick="closeModal('change_profile_pic_modal')">
        <span class="close ion-ios-close-empty"></span>
    </div>                        
    <ion-content class="sm-modal-body" style="padding:20px 10px">
        <div class="cp">
            <div class="a" id="cpp" onclick="choosePhoto('cpp')">                
                <span class="b ion-ios-camera-outline"></span>
                <img style="display:none" />
            </div>
            <button class="btn c" k="រក្សាទុក" onclick="changeProfiePicture()">Save</button>       
    
        </div>
        </ion-content>
</div>

<div class="sm-modal" id="change_password_modal">
    <div class="shadow"></div>
    <div class="header-title" k="ប្តូរលេខសំងាត់">Change Password</div>
    <div class="back" onclick="closeModal('change_password_modal')">
        <span class="close ion-ios-close-empty"></span>
    </div>                        
    <ion-content class="sm-modal-body" style="padding:20px 10px">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label"  k="លេខសំងាត់ចាស់">Old Password</span>
                <input type="password" id="old_pwd">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label"  k="លេខសំងាត់ថ្មី">New Password</span>
                <input type="password" id="new_pwd">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label"  k="បញ្ជាក់លេខសំងាត់ថ្មី">Confirm New Password</span>
                <input type="password" id="confirm_new_pwd">
            </label>
        </div>
        <button class="btn" k="ប្តូរលេខសំងាត់" onclick="changePassword()">Change Password</button>       
    </ion-content>
</div>

<div class="app-header">
    <div class="header-title" k="ការកំណត់របស់គណនី">Account Settings</div>
    <div class="back" ng-click="myGoBack()">
        <span class="ion-ios-arrow-left"></span>
    </div>
</div>
<ion-view hide-nav-bar="true" class="header-view">
    <ion-content id="account_settings">
        <ul class="mr">
            <li class="item item-complex" style="padding:0">
                <a class="item-content" onclick="openSmallModal('change_profile_pic_modal'); choosePhoto('cpp')">
                    <img id="profile_pic" style="width:60px">
                    <span class="fa fa-angle-right" style="margin-top:25px"></span>
                    <span class="a" style="margin-top:25px" k="ប្តូររូបភាព">Change Profile Picture</span>
                </a>
            </li>
        </ul>
        <div class="hr"></div>
        <ul class="mr">
            <li class="item item-complex" style="padding:0">
                <a class="item-content" onclick="openSmallModal('change_name_modal')">
                    <span k="ឈ្មោះ">Full Name</span>
                    <span class="fa fa-angle-right"></span>
                    <span class="a" id="full_name"></span>
                </a>
            </li>
            <li>
                <span k="លេខទូរស័ព្ទ">Phone Number</span>                
                <span class="a" id="phone_number"></span>                
            </li>
        </ul>
        <div class="hr"></div>
        <ul class="mr">
            <li class="item item-complex" style="padding:0">
                <a class="item-content" onclick="openSmallModal('change_password_modal')">
                    <span k="ប្តូរលេខសំងាត់">Change Password</span>
                    <span class="fa fa-angle-right"></span>
                    
                </a>
            </li>
        </ul>
        <div class="hr"></div>
        <div class="so">
            <button id="sign_out" onclick="signOut()">Sign Out</button>
        </div>
        
    </ion-content>
</ion-view>
<script>
    la();
    $('#account_settings #full_name').text(localStorage.getItem('full_name'));
    $('#account_settings #phone_number').text(localStorage.getItem('phone_number'));
    $('#change_name_modal #full_name').val(localStorage.getItem('full_name'));
    $('#account_settings #profile_pic').attr('src', URL+'users/'+user_id+'/profile.jpg');
    
    function changeName(){
        var full_name = $('#change_name_modal #full_name').val();
        if (full_name == ''){
            myAlert('Please enter new Full Name', 'សូមបញ្ចូលឈ្មោះថ្មី');
        } else {
            $.post(URL+'app/update_data.php', {item:'full_name', full_name:full_name, user_id:user_id}, function(data){
                if (data.includes('success')){
                    localStorage.setItem('full_name', full_name);
                    $('#account_settings #full_name').text(full_name);
                    closeModal('change_name_modal');
                }
            });            
        }
        
    }
    function changePassword(){
        var old_pwd = $('#change_password_modal #old_pwd').val();
        var new_pwd = $('#change_password_modal #new_pwd').val();
        var confirm_new_pwd = $('#change_password_modal #confirm_new_pwd').val();
        
        if (old_pwd == ''){
            myAlert('Pleae enter old password', 'សូមបញ្ចូលលេខសំងាត់ចាស់');
        } else if (new_pwd == ''){
            myAlert('Pleae enter new password', 'សូមបញ្ចូលលេខសំងាត់ថ្មី');
        } else if (confirm_new_pwd == ''){
            myAlert('Pleae confirm new password', 'សូមបញ្ជាក់លេខសំងាត់ថ្មី');
        } else if (new_pwd != confirm_new_pwd) {
            myAlert('Confirm new password is not matched', 'បញ្ជាក់លេខសំងាត់ថ្មីមិនត្រឹមត្រូវ');
        } else {
            $.post(URL+'app/update_data.php', {item:'password', old_pwd:old_pwd, new_pwd:new_pwd, user_id:user_id}, function(data){                        
                if (data.includes('not_match')){
                    myAlert('Old password is incorrect', 'លេខសំងាត់ចាស់មិនត្រឹមត្រូវ');                    
                } else if (data.includes('success')){
                    myAlert('Password has been changed', 'លេខសំងាត់ថ្មីបានផ្លាស់ប្តូររួចរាល់');                    
                    $('#change_password_modal #old_pwd').val('');
                    $('#change_password_modal #new_pwd').val('');
                    $('#change_password_modal #confirm_new_pwd').val('');
                    closeModal('change_password_modal');
                }
                
            });    
        }
    }
    function signOut(){
        alertConfirm('Sign out from this account?', 'ចាកចេញពីគណនីនេះ?');
        $('#alert_confirm .confirm').on('click', function(){
            localStorage.removeItem('user_id');
            localStorage.removeItem('full_name');
            localStorage.removeItem('phone_number');
            localStorage.removeItem('wishlist');
            
            window.location.href='index.html';
        });
            
                
    }
</script>