

<div id="order_placed_modal" class="modal">
    <div class="header-title">
        <span class="ion-checkmark-circled"></span>
        <span k="បញ្ជាកម្មង់ទិញរួចរាល់">Order Complete </span>        
    </div>
    <div class="modal-body ion-content" id="order_complete">
        <div class="sk">
            <div class="a">
                <img src="img/nekoten.png">
            </div>
            <div class="b">
                <div class="c" k="សូមអរគុណចំពោះការកម្មង់ទំនិញ">
                    Thank you for your order
                </div>
                <div class="d">                                    
                    <span class="e" k="តម្លៃ: ">Amount: </span> 
                    <span class="f" id="total"></span>
                </div>
            </div>
        </div>   
        <div class="hr"></div>
        
        <div class="uj">
            <div class="a">
                <span class="b" k="ស្ថានភាព: ">Status: </span>
                <span id="status">Product Delivered</span>
            </div>
            <div class="a">
                <span class="b" k="កាលបរិច្ឆេទ: ">Order Date: </span>
                <span id="order_date"></span>
            </div>
            <div class="a">
                <span class="b">Order ID: </span>
                <span id="order_id"></span>
            </div>
        </div>
        <div class="hr"></div>
        <div class="yl" id="status_bar">
            
        </div>
    
        <div class="hr"></div>
        <div class="xv">
            <div class="a" k="អាស័យដ្ឋានដឹកជញ្ជូន">
                Shipping Address
            </div>
            <div id="shipping_addr">
            
            </div>
        </div>
        <div class="hr"></div>
        <div class="uy">
            <div class="a">
                <div class="b" k="ម៉ោងដឹកជញ្ជូន">Delivery Time</div>
                <div class="c">
                    <span k="ទទួលទំនិញ">Receive Product</span>                        
                    <strong id="delivery_time"></strong>    
                </div>
            </div>
            <div class="a">
                <div class="b" k="របៀបបង់ប្រាក់">Payment Method</div>
                <div class="c" id="payment_method">
                    <span style="display:none" id="cash_on_delivery" k="បង់ប្រាក់ពេលទទួលទំនិញ">Cash on Delivery</span>
                    <div style="display:none" class="payment" id="transfer_money">
                        <span k="ផ្ញើរប្រាក់តាម">Transfer money via</span>
                        <img class="d" src="img/wing.jpg"/>
                        <img class="e" src="img/true_money.jpg">
                        <img class="f" src="img/emoney.jpg">
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="hr"></div>
        <ul class="cart pl" id="order_items">
            
        </ul>
        <div class="hr"></div>
        <div class="uk">
            <div class="aa" k="តម្លៃសរុប">
                Order Summary  
            </div>
            <div class="a">                        
                <span class="b">
                    <span k="សរុបទំនិញ">Subtotal</span> (<span id="item_count">0 </span> <span k="មុខ">item</span>)
                </span>
                <span class="c" id="subtotal"></span>                                                        
            </div>
            <div class="a">                        
                <span class="b" k="ថ្លៃដឹកជញ្ជូន">Delivery Fee</span>                                                        
                <span class="c" id="delivery_fee"></span>                                                        
            </div>                                                                    
            <div class="a">                        
                <span class="b" k="សរុប">Total</span>
                <span style="font-size:large; color: #ff3366" class="d" id="total"></span>
            </div>
        </div>   
        <div class="sd">
            <button class="a" id="go_to_my_order">
                <span k="ការកម្មង់របស់ខ្ញុំ">My Order</span>
            </button>
            <button class="b" onclick="closeModal('order_placed_modal'); window.location.href='#tab/home'">
                <span k="ទំព័រដើម">Nekoten Home</span>
            </button>
        </div>
    </div>
</div>



<div class="app-header">
    <div class="header-title"><span k="កន្ត្រកទំនិញ">Cart</span> (<span class="cart_count">0</span>)</div>
</div>

<ion-view hide-nav-bar="true" class="header-view">
    <ion-content class="cart-ion-content">  
        <ion-refresher on-refresh="refresh('cart')"></ion-refresher>
        <div class="wrap">
            <center class="em" id="no_item_in_cart">
                <span class="a ion-bag"></span>                
                <div class="b" k="គ្មានទំនិញក្នុងកន្ត្រក">Your Shopping Cart is Empty</div>        
            </center>
            <ul class="cart" id="cart-cart">
                
            </ul>
            
        </div>  
        
    </ion-content>
    <div class="cart-footer" style="display:none">
        <div class="e" id="summary" style="display:none">
            <div class"ff">
                <span class="ion-ios-close-empty" onclick="$('.cart-footer #summary').hide()"></span>
                <center k="តម្លៃ">Summary</center>
            </div>            
            <div class="g">
                <span k="សរុបទំនិញ">Subtotal</span> (<span class="cart_count"></span> <span k="មុខ">item</span>)
                <span class="subtotal"></span>
            </div>
            <div class="g">
                <span k="ថ្លៃដឹកជញ្ជូន">Delivery Fee</span>
                <span class="delivery_fee"></span>
            </div>
            <div class="g h">
                <span k="សរុប">Total</span>
                <span class="total"></span>
            </div>
                
        </div>
        <div class="a" onclick="$('.cart-footer #summary').toggle()">
            <div class="aa">
                <div class="b"><span k="តម្លៃសរុប">Total</span></div>
                <div class="c"><span class="ion-arrow-down-b"></span></div>
            </div>
            <div class="ab"><span class="total"></span></div>
        </div>
        <div class="d" onclick="buy()"><span k="ទិញ">BUY</span> (<span class="cart_count"></span>)</div>
    </div>
    
</ion-view>

<script>
    
    
    //$('.cart-footer .d').click();
    //localStorage.removeItem('shopping_cart');
    //localStorage.setItem('shopping_cart', ',v6l8:0:3');
    //alert(localStorage.getItem('shopping_cart'));

        
    la();
    loadCart();
    
    function buy(){
        if (user_id == 'not_login'){
            openModal('sign_in_modal');
        } else {
            window.location.href='#tab/review_order';
        }
    }
    
    /* Order has been placed */
    function orderPlaced(order_id){
        
        loadOrderDetail('order_complete', order_id);
        
        $('#go_to_my_order').on('click', function(){
            closeModal('order_placed_modal'); 
            window.location.href='#tab/account'; 
            window.location.href='#tab/my_order';
            /*
            window.location.href='#tab/order_detail'; 
            loadOrderDetail(order_id);
            */
        });
        
    }
    
    
    function qtyPlus(ad_id){
        if ($('#cart-item-'+ad_id+' #qty').html()<10){
            //$('#cart-item-'+ad_id+' #qty').html(parseInt($('#cart-item-'+ad_id+' #qty').html(), 10) + 1);    
            var a = localStorage.getItem('shopping_cart');
            var b = a.split(',');
            var d = '';
            
            for (var i = 1; i < b.length; i++){
                var c = b[i].split(':');
                d += ','+c[0]+':'+c[1]+':';
                if (c[0] == ad_id){
                    d += parseInt(c[2],10) + 1; 
                } else {
                    d += c[2];
                }
            }                  
            localStorage.setItem('shopping_cart', d);
            loadCart();
            
        }        
    }
    function qtyMinus(ad_id){
        if ($('#cart-item-'+ad_id+' #qty').html()>0){
            //$('#cart-item-'+ad_id+' #qty').html(parseInt($('#cart-item-'+ad_id+' #qty').html(), 10) + 1);    
            var a = localStorage.getItem('shopping_cart');
            var b = a.split(',');
            var d = '';
            
            for (var i = 1; i < b.length; i++){
                var c = b[i].split(':');
                d += ','+c[0]+':'+c[1]+':';
                if (c[0] == ad_id){
                    d += parseInt(c[2],10) - 1; 
                } else {
                    d += c[2];
                }
            }
            localStorage.setItem('shopping_cart', d);
            loadCart();
        }   
    }
    
        
        
    
    
</script>
