<div class"app-header">
    <div class="header-title"><span k="កន្ត្រកទំនិញ">Cart</span> (<span class="cart_count">0</span>)</div>
</div>

<ion-view hide-nav-bar="true" class="header-view">
    <ion-content class="cart-ion-content">  
        
        <div class="wrap">
            <center style="margin-top:30%; color:#bbb; display:none" id="no_item_in_cart">
                <i style="font-size:100px" class="ion-bag"></i>                
                <div k="គ្មានទំនិញក្នុងកន្ត្រក">Your Shopping Cart is Empty</div>        
            </center>
            <ul class="cart" id="cart-cart">
                
            <ul>
            
        </div>  
        
    </ion-content>
    <div class="cart-footer" style="display:none">
        <div class="e" id="summary" style="display:none">
            <div class"ff">
                <span class="ion-ios-close-empty" onclick="$('.cart-footer #summary').hide()"></span>
                <center k="តម្លៃ">Summary</center>
            </div>            
            <div class="g">
                <span k="សរុបទំនិញ">Subtotal</span> (<span class="cart_count"></span> <span k="មុខ">item</span>)
                <span class="subtotal"></span>
            </div>
            <div class="g">
                <span k="ថ្លៃដឹកជញ្ជូន">Delivery Fee</span>
                <span class="delivery_fee"></span>
            </div>
            <div class="g h">
                <span k="សរុប">Total</span>
                <span class="total"></span>
            </div>
                
        </div>
        <div class="a" onclick="$('.cart-footer #summary').toggle()">
            <div class="aa">
                <div class="b"><span k="តម្លៃសរុប">Total</span></div>
                <div class="c"><span class="ion-arrow-down-b"></span></div>
            </div>
            <div class="ab"><span class="total"></span></div>
        </div>
        <div class="d" onclick="window.location.href='#tab/review_order'"><span k="ទិញ">BUY</span> (<span class="cart_count"></span>)</div>
    </div>
    
</ion-view>

<script>
    
    
    $('.cart-footer .d').click();
    //localStorage.removeItem('shopping_cart');
    //localStorage.setItem('shopping_cart', ',v6l8:0:3');
    

        
    la();
    loadCart();
    
    function deleteCart(ad_id){
        alertConfirm('Remove this item from your Shopping Cart?', 'ដកទំនិញនេះចេញពីកន្ត្រកទំនិញ?');            
        $('#alert_confirm .confirm').on('click', function(){                                      
            var a = localStorage.getItem('shopping_cart').split(',');
            var b = '';            
            for (var i = 1; i < a.length; i++){                
                if (a[i].split(':')[0] == ad_id) continue;
                b += ','+a[i];
            }
            localStorage.setItem('shopping_cart', b); 
            loadCart();
        });
    }
    function qtyPlus(ad_id){
        if ($('#cart-item-'+ad_id+' #qty').html()<10){
            //$('#cart-item-'+ad_id+' #qty').html(parseInt($('#cart-item-'+ad_id+' #qty').html(), 10) + 1);    
            var a = localStorage.getItem('shopping_cart');
            var b = a.split(',');
            var d = '';
            
            for (var i = 1; i < b.length; i++){
                var c = b[i].split(':');
                d += ','+c[0]+':'+c[1]+':';
                if (c[0] == ad_id){
                    d += parseInt(c[2],10) + 1; 
                } else {
                    d += c[2];
                }
            }
            localStorage.setItem('shopping_cart', d);
            loadCart();
            
        }        
    }
    function qtyMinus(ad_id){
        if ($('#cart-item-'+ad_id+' #qty').html()>0){
            //$('#cart-item-'+ad_id+' #qty').html(parseInt($('#cart-item-'+ad_id+' #qty').html(), 10) + 1);    
            var a = localStorage.getItem('shopping_cart');
            var b = a.split(',');
            var d = '';
            
            for (var i = 1; i < b.length; i++){
                var c = b[i].split(':');
                d += ','+c[0]+':'+c[1]+':';
                if (c[0] == ad_id){
                    d += parseInt(c[2],10) - 1; 
                } else {
                    d += c[2];
                }
            }
            localStorage.setItem('shopping_cart', d);
            loadCart();
        }   
    }
    
        
        
    
    
</script>
