<div class="app-header">
    <div class="header-title" k="ទាក់ទងយើងខ្ញុំ">Contact Us</div>
    <div class="back" ng-click="myGoBack()">
        <span class="ion-ios-arrow-left"></span>
    </div>
</div>
<ion-view hide-nav-bar="true" class="header-view">
    <ion-content>
    <div class="hr"></div>
        <ul class="mr">
            <ion-item class="item item-complex">
                <a class="item-content" onclick="openUrl('http://m.me/khmerqq')">
                <span class="b ion-ios-chatboxes-outline"></span>
                    <span>facebook.com/nekoten</span>
                </a>
            </ion-item>
            <ion-item class="item item-complex">
                <a class="item-content" onclick="call('011123456')">
                <span class="b ion-ios-telephone-outline"></span>
                    <span>011123445</span>
                </a>
            </ion-item>
            <ion-item class="item item-complex">
                <a class="item-content" onclick="openUrl('mailto:vongvirak9@gmail.com')">
                <span class="b ion-ios-email-outline"></span>
                    <span>vongvirak9@gmail.com</span>
                </a>
            </ion-item>
        </ul>
    </ion-content>
</ion-view>
<script>
    la();
</script>
