<div class="app-header">
    <div class="header-title" k="ទាក់ទងយើងខ្ញុំ">Contact Us</div>
    <div class="back" ng-click="myGoBack()">
        <span class="ion-ios-arrow-left"></span>
    </div>
</div>
<ion-view hide-nav-bar="true" class="header-view">
    <ion-content>
     <ion-refresher on-refresh="refresh('contact_us')"></ion-refresher>
        <div class="wrap2" id="contact_us">
        
        </div>
    </ion-content>
</ion-view>
<script>
    $.post(URL+'app/get_info.php',{name:'contact_us'}, function(data){       
        $('#contact_us').html(JSON.parse(data)['value']);
    });   
    
</script>
