<div class="app-header">
    <form class="search-bar" onsubmit="submitSearchForm('search-home');">
        <i class="icon ion-search"></i>
        <input autocorrect="off" autocapitalize="off" id="search-home" k="ខ្ញុំកំពុងស្វែងរក ..." onkeyup="searchKeyword('home')" onclick="searchClick()" placeholder="I'm shopping for ..." class="search">
        <span onclick="cancelClick()" class="cancel" k="បិទ">Cancel</span>
    </form>
    <ul class="search-form">
        
    </ul>
</div>
<ion-view hide-nav-bar="true" class="header-view">
    <div class="ion-content" id="home" on-scroll-complete="onComplete()">
        <span id="data" style="display:none"></span>
        <span id="start" style="display:none">0</span>
        <span id="all" style="display:none">0</span>
        
        <div class="home"> 
        
            
            
            <script>
            /*
            <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" class="home-slider">
                <ion-slide onclick="window.location.href='#tab/iframe'">
                    <img ng-src="img/slide-1.jpg">
                </ion-slide>
                <ion-slide>
                    <img ng-src="img/slide-2.jpg">
                </ion-slide>
                <ion-slide>
                    <img ng-src="img/slide-3.jpg">
                </ion-slide>
            </ion-slide-box>
            */</script>
            
            
            
            <div class="home-slider owl-carousel owl-theme">
                
            </div>
            
            <script> 
            
                $.post(URL+'app/home_slider.php', {}, function(data){
                    var a = JSON.parse(data);
                    var str = '';
                    
                    for (var i = 0; i < a.length; i++){
                        str += '<img onclick="'+a[i]['event']+'" src="'+a[i]['img_src']+'">';
                    }
                    $('.home-slider').html(str);
                    $('.home-slider').owlCarousel({
                        loop:true,
                        margin:10,
                        autoplay:true,
                        autoplayTimeout:5000,
                        autoplayHoverPause:true,
                        responsive:{
                            0:{
                                items:1
                            }
                        }
                    });
                });
                
                
            </script>
            
            <ul class="cate owl-carousel owl-theme" id="cate">
                
            </ul>
            <ul class="cate owl-carousel owl-theme" id="cate-2">
                
            </ul>
            <div class="hr"></div>
            <div class="yl">
                <div class="a">
                    <div class="b">
                        <div class="ba"></div>
                        <div class="bb"></div>
                    </div>
                    <div class="c">
                        <div class="ca">
                            09-21-2017 09:45
                        </div>
                        <div class="cb">
                            Order Received
                        </div>
                    </div>
                </div>
                <div class="a">
                    <div class="b">
                        <span class="ion-ios-checkmark"></span>
                    </div>
                    <div class="c">
                        <div class="ca">
                            09-21-2017 09:45
                        </div>
                        <div class="cb">
                            Order Received
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr"></div>
            <div class="wrap">
                <div class="new-arrival">
                    <h3 k="ទំនិញមកដល់ថ្មី">New Arrival</h3>
                </div>                
                <ul id="new_arrival">
                    
                <ul>
                
            </div>
        </div>
        <div id="loading_more">
            <ion-spinner icon="ios"></ion-spinner>
        </div>
        <div id="no_more_item" style="display:none">
            <span class="ion-ios-more-outline"></span>
        </div>
    </div>
</ion-view>


<script> 
    //loadProduct('np5t');
    //openModal('sign_in_modal');
    
    $('#home').scroll(function() {
        var start = parseInt($('#start').html(), 10);
        var all = parseInt($('#all').html(), 10);
        if(($('#new_arrival').height() - $('#home').scrollTop()) < 100 && (start < all)) {
            loadMore();
        }
    });
    

    
    var size = $(window).width();        
    $.post(URL+'app/new_arrival.php',{size:size},function(data){
        $('#data').text(data);  
        $('#all').text(JSON.parse(data).length);
        loadMore();
    });
    
    function loadMore(){        
        
        var start = parseInt($('#start').html(), 10);
        var all = parseInt($('#all').html(), 10);
        
        var end = start + 12;        
        if (end >= all) {
            end = all;
            $('#no_more_item').show();
            $('#loading_more').hide();
        }
        
        if (start < end) {
            var size = $(window).width();
            var a_wh = (size-30)/2;        
            var data = $('#data').text();                
            var arr = JSON.parse(data);   
            
            for (var i = start; i < end; i++){            
                var ad = arr[i];            
                var ad_id = ad['ad_id'];  
                
                var str = '<li onclick="loadProduct(\''+ad_id+'\')" class="ad-item">';
                    str += '<div class="b" style="width:'+a_wh+'px;height:'+a_wh+'px">';
                        str += '<img style="width:'+ad['width']+'; height:'+ad['height']+'; margin-'+ad['margin']+':'+ad['margin-px']+'px" src="'+URL+'ads/'+ad['ad_id']+'/1_m.jpg">';
                    str += '</div>';
                    str += '<div class="a">';
                        str += '<span class="aa">'+ad['price']+'</span>';
                        str += '<span class="ab"><span>'+ad['n_order']+'</span> <span k="កម្មង់">order</span></span>';
                    str += '</div>';
                str += '</li>';
                
                $('#new_arrival').append(str);
            }  
            la();                           
            $('#start').text(end);
        }
    }

    
    

    //getLocation();
    
    $.post(URL+'app/category.php',{},function(data){
        var cate = JSON.parse(data);
        var str = '';
        for (var i = 0; i < 4; i++){
            var c = cate[i];            
            str += '<li onclick="searchProduct(\'category:'+c['main_id']+'\', \'best_match\'); window.location.href = \'#tab/search_res\';">';
                str += '<div>';
                    str += '<span class="fa '+c['fa']+'"></span>';
                str += '</div>';
                str += '<div k="'+c['name_kh']+'">';
                    str += c['name_en'];
                str += '</div>';
            str += '</li>';            
        }
        $('#cate').html(str);
        var str = '';
        for (var i = 4; i < 8; i++){
            var c = cate[i];  
            if (c['main_id'] == 0) {
                str += '<li onclick="window.location.href=\'#tab/all_categories\'">';
            } else {
                str += '<li onclick="searchProduct(\'category:'+c['main_id']+'\', \'best_match\'); window.location.href = \'#tab/search_res\';">';
            }
                str += '<div>';
                    str += '<span class="fa '+c['fa']+'"></span>';
                str += '</div>';
                str += '<div k="'+c['name_kh']+'">';
                    str += c['name_en'];
                str += '</div>';
            str += '</li>';            
        }
        $('#cate-2').html(str);
        
        /*
        $('#cate').owlCarousel({
                margin:10,                
                responsive:{
                    0:{
                        items:5
                    }
                }
            });
            */
        la();
            
    })
    la();

</script>