<div class="app-header">
    <div class="header-title" k="ការកម្មង់របស់ខ្ញុំ">My Orders</div>
    <div class="back" ng-click="myGoBack()">
        <span class="ion-ios-arrow-left"></span>
    </div>
</div>
<ion-view hide-nav-bar="true" class="header-view">    
    <ion-content class="my-order-panel" id="order_all_form">        
        <ion-refresher on-refresh="refresh('order_all')"></ion-refresher>
        <div id="order_result">                
            
        </div>
    </ion-content>
</ion-view>
<script>
    la();
</script>
