<div class"app-header">
    <div class="header-title">Order Detail</div>
    <div class="back" ng-click="myGoBack()">
        <span class="ion-ios-arrow-left"></span>
    </div>
</div>
<ion-view hide-nav-bar="true" class="header-view">
    <ion-content>
        <div class="wrap2" id="about_us">
        
        </div>
    </ion-content>
</ion-view>
<script>
    la();
    $.post(URL+'app/get_info.php',{name:'about_us'}, function(data){
        $('#about_us').html(data);
        la();
    });
</script>
