<div class="app-header">
    <div class="header-title" k="ផលិតផលរង់ចាំការវាយតម្លៃ">Products Awaiting Review</div>
    <div class="back" ng-click="myGoBack()">
        <span class="ion-ios-arrow-left"></span>
    </div>
</div>
<ion-view hide-nav-bar="true" class="header-view">    
    <ion-content class="my-order-panel" id="order_reviewed_form">        
        <ion-refresher on-refresh="refresh('order_reviewed')"></ion-refresher>
        <div id="order_result">                
            <center class="em" id="no_order">
                <span class="a ion-bag"></span>                
                <div class="b" k="លោកអ្នកមិនទាន់បានកម្មង់ទំនិញនៅឡើយទេ">You don't have any orders Yet</div>        
            </center>
        </div>
    </ion-content>
</ion-view>
<script>
    la();
</script>
