<div class"app-header">
    <div class="header-title">Order Detail</div>
    <div class="back" ng-click="myGoBack()">
        <span class="ion-ios-arrow-left"></span>
    </div>
</div>
<ion-view hide-nav-bar="true" class="header-view">
    <ion-content id="order_detail">
        
        <div class="uj">
            <div class="a">
                <span class="b" k="កាលបរិច្ឆេទ: ">Order Date: </span>
                <span id="order_date"></span>
            </div>
            <div class="a">
                <span class="b">Order ID: </span>
                <span id="order_id"></span>
            </div>
        </div>
        <div class="hr"></div>
        <div class="xv">
            <div class="a" k="អាស័យដ្ឋានដឹកជញ្ជូន">
                Shipping Address
            </div>
            <div id="shipping_addr">
            
            </div>
        </div>
        <div class="hr"></div>
        <ul class="cart" id="order_items" style="padding:15px">
            
        </ul>
        <div class="hr"></div>
        
        <div class="rb">
            <div class="a">
                <span class="aa" k="ដាក់លក់ដោយ">Seller Info</span>                
            </div>
            <div class="b">
                <div class="c">
                    <img id="seller_img"/>
                </div>
                <div class="d">
                    <span class="e" id="seller_full_name"></span> 
                    <span class="f">
                        (<span id="seller_n_product">0</span> 
                        <span k="ទំនិញ">item</span>)
                    </span>                        
                </div>
            </div>
        </div>
        <div class="hr"></div>
        <div class="uk">
            <div class="aa" k="តម្លៃសរុប">
                Order Summary  
                </div>
            <div class="a">                        
                <span class="b">
                    <span k="សរុបទំនិញ">Subtotal</span> (0 item)
                </span>
                <span class="c">34</span>                                                        
            </div>
            <div class="a">                        
                <span class="b" k="ថ្លៃដឹកជញ្ជូន">Delivery Fee</span>                                                        
                <span class="c">$ 2</span>                                                        
            </div>                                                                    
            <div class="a">                        
                <span class="b" k="សរុប">Total</span>
                <span class="d">$ 56</span>
            </div>
        </div>   
        
    </ion-content>
</ion-view>

