<ion-view hide-nav-bar="true" class="product_page">

<div id="product_page_header" class="back" ng-click="myGoBack()" onclick="$('.tab-nav').show();">
<script>
    /*$('.ad_image').html(''); $('#product_body').hide(); $('.ad_images').hide();     
    */
</script>
    <span class="ion-ios-arrow-left"></span>
    <span ontap="window.location.href='#tab/cart'" class="ion-ios-cart-outline"></span>
    <span ontap="window.location.href='#tab/cart'" class="noti-label cart_count"></span>
</div>
        

    <div class="no-tabs ion-content" id="product_page_content"> 
    
        <div class="ad_images" style="display:none">
            <span class="close ion-ios-close-empty" onclick="removeFullScreen()"></span>
            <div class="helper" onclick="removeFullScreen()"></div>
            
        
            <div class="ad_image home-slider owl-carousel owl-theme">

            </div>
            <div class="wishlist-btn" ontap="wishlist()">
                <span class="fa fa-heart"></span>    
            </div>        
        </div>
        <script>
            var is_header_showed = false;
            $('#product_page_content').scroll(function(){                
                
                if (!is_header_showed){
                    if(($('.ad_images').height() - $('#product_page_content').scrollTop()) < 0) {
                        is_header_showed = true;
                        $('#product_page_header').addClass('has-header');                        
                    }    
                } else {
                    if(($('.ad_images').height() - $('#product_page_content').scrollTop()) > 0) {
                        is_header_showed = false;
                        $('#product_page_header').removeClass('has-header');                        
                    }    
                }
                
                
            });
        </script>
        
            
        <div id="product_body">        
            <input id="ad_id" type="text" style="display:none">
            <div class="w" id="title"></div>
            <div class="pp">
                
                <span id="price"></span>
                <span id="normal_price"></span>
                <span id="discount"></span>
                <span id="quantity"></span>
            </div>
            <div class="ii">
                <div class="a">
                    <div class="b" id="rate"></div>
                    <div class="c" id="review"></div>
                </div>
                <div class="a">
                    <div class="b" id="n_order"></div>
                    <div class="c" k="កម្មង់">Order</div>
                </div>
                <div class="a">
                    <div class="b" id="view"></div>
                    <div class="c" k="មើល">View</div>
                </div>
            </div>
            <div class="hr"></div>
            
            <div class="et" id="product_delivery_to">
                <div class="a item item-complex" onclick="openModal('delivery_option_product')">
                    <a class="item-content">
                        <div class="b" id="delivery_type"><span k="ដឹកទៅកាន់">Deliver to</span> <strong id="delivery_to"></strong></div>
                        <div class="c">
                            <span k="ថ្លៃដឹកជញ្ជូន">Delivery Fee: </span>                        
                            <strong id="delivery_fee">Free</strong>    
                        </div>
                        <div class="c">
                            <span k="ទទួលទំនិញ">Receive Product</span>
                            <strong id="delivery_day"></strong>
                            <strong id="delivery_time"></strong>    
                        </div>
                        <div class="fa fa-angle-right"></div>                    
                    </a>
                </div>
            </div>
        </div>
        
        
        <div class="hr"></div>
        <div class="at">
            <div class="a">
                <div class="b" k="បរិមាណ">Quantity</div>
                <div class="c">
                    <span class="d fa fa-minus" onclick="qtyMinus()"></span>
                    <input class="e" id="qty" type="number" pattern="\d*" value="1">
                    <span class="f fa fa-plus" onclick="qtyPlus()"></span>
                </div>
            </div>
        </div>
        <div class="bt">
            <span class="h" ontap="loadQuestionReviewList('question', 'modal', ''); openModal('question_modal')" k="សួរសំនួរ">Ask Question</span>
            <span class="i" k="ដាក់ចូលកន្ត្រក" ontap="addToCart()">Add to Cart</span>
        </div>
        <div class="hr"></div>
        <div class="pd">
            <div class="a" k="ការពិពណ៌នាអំពីផលិតផល">Product Description</div>
            <div class="b" id="desc"></div>
        </div>
        <div class="hr"></div>
        <div class="qs" id="question_panel" onclick="loadQuestionReviewList('question', 'modal', ''); openModal('question_modal')">
            <div class="a" k="សំនួរ និង ចម្លើយ">Question (<span id="n_question">0</span>)</div>
            <div id="question">
            
            </div>
        </div>
        <div class="hr"></div>
        <div class="qs" id="review_panel" onclick="loadQuestionReviewList('review', 'modal', ''); openModal('review_modal')">
            <div class="a" k="រង្វាយតម្លៃ">Review (<span id="n_review">0</span>)</div>
            <div id="review">
            
            </div>
        </div>
        <div class="hr"></div>
        <div class="rb">
            <div class="a">
                <span class="aa" k="ដាក់លក់ដោយ">Seller Info</span>                
            </div>
            <div class="b">
                <div class="c">
                    <img id="seller_img" />
                </div>
                <div class="d">
                    <span class="e" id="seller_full_name"></span> 
                    <span class="f">
                        (<span id="seller_n_product">0</span> 
                        <span k="ទំនិញ">item</span>)
                    </span>                        
                </div>
            </div>
        </div>
        <div class="hr"></div>
        <div class="ra">
            <div class="aa" k="ផលិតផលស្រដៀងគ្នា">Related Products</div>
            <div class="bb" id="related_products">
            
            </div>
        </div>
        
        
    </div>
</ion-view>
