<div class"app-header">
    <div class="header-title">
        <span k="សំនួរ">Question</span> 
        (<span id="account_n_question">0</span>)
    </div>
    <div class="back" ng-click="myGoBack()">
        <span class="ion-ios-arrow-left"></span>
    </div>
</div>
<ion-view hide-nav-bar="true" class="header-view">
    <ion-content id="question_account">
        <ion-refresher on-refresh="refresh('question')"></ion-refresher>
            
        <div class="hg">
            <ul id="question" class="qs">
                
            </ul>
        </div>
    </ion-content>
</ion-view>
<script>

    la();
    loadQuestionReviewList('question', 'account', '');

</script>
