<div class="app-header">
    <div class="header-title">
        <span k="រង្វាយតម្លៃ">My Review</span> 
        (<span id="account_n_review">0</span>)
    </div>
    <div class="back" ng-click="myGoBack()">
        <span class="ion-ios-arrow-left"></span>
    </div>
</div>
<ion-view hide-nav-bar="true" class="header-view">
    <ion-content id="review_account">
        <ion-refresher on-refresh="refresh('review')"></ion-refresher>
            
        <div class="hg">
            <ul id="review" class="qs">
                
            </ul>
        </div>
    </ion-content>
</ion-view>
<script>

    la();
    loadQuestionReviewList('review', 'account', '');

</script>
