<div id="order_placed_modal" class="modal">
    <div class="header-title">
        <span class="ion-checkmark-circled"></span>
        <span k="បញ្ជាកម្មង់ទិញរួចរាល់">Order Complete </span>        
    </div>
    <div class="modal-body">
        <div class="sk">
            <div class="a">
                <img src="img/nekoten.png">
            </div>
            <div class="b">
                <div class="c" k="សូមអរគុណចំពោះការកម្មង់ទំនិញ">
                    Thank you for your order
                </div>
                <div class="d">                                    
                    <span class="e" k="តម្លៃ: ">Amount: </span> 
                    <span class="f">$ 123</span>
                </div>
            </div>
        </div>   
        <div class="hr"></div>
        <div class="sd">
            <button ontap="closeModal('order_placed_modal');" k="ការកម្មង់របស់ខ្ញុំ">My Order</button>
            <button ontap="closeModal('order_placed_modal'); window.location.href='#tab\home'">Nekoten Home</button>
        </div>
    </div>
</div>


<div class"app-header">
    <div class="header-title" k="បញ្ជាក់ការកម្មង់">Review Order</div>
    <div class="back" id="go_back_to_cart" ng-click="myGoBack()">
        <span class="ion-ios-arrow-left"></span>
    </div>
</div>



<div id="shipping_address_modal" class="modal">
    <div class="header-title" k="អាស័យដ្ឋានដឹកជញ្ជូន">Shipping Address</div> 
    <div class="back" onclick="closeModal('shipping_address_modal')">
        <span class="close ion-ios-close-empty"></span>
    </div>        
    <span ontap="alert('yes')" class="right-nav" k="កែប្រែ">Edit</span>
    <ion-content class="modal-body">        
        <div class="qw">
            <ul class="shipping_address_item">
                adasdsdvfdvdfvf
            </ul>
            <div class="t">
                <button class="btn" onclick="openModal('shipping_info_modal')">Add new Address</button>
            </div>
        </div>            
    </ion-content>
</div>



<div id="payment_method_modal" class="modal">
    <div class="header-title" k="របៀបបង់បា្រក់">Payment Method</div>
    <div class="back" onclick="closeModal('payment_method_modal')">
        <span class="close ion-ios-close-empty"></span>
    </div>
    <div class="uu">
        <div class="a item item-complex" onclick="selectPaymentMethod('cash_on_delivery')">
            <a class="item-content">
                <div class="b" k="បង់ប្រាក់ពេលទទួលទំនិញ" id="cash_on_delivery">Cash on Delivery</div>
                <div class="c">
                    <span k="បង់ប្រាក់ពេលលោកអ្នកបានទទួលទំនិញរួចរាល់">Pay when you receive the product</span>
                </div>
            </a>
        </div>
        
        <div class="a item item-complex" onclick="selectPaymentMethod('transfer_money')">
            <a class="item-content">
                <div class="b" k="ផ្ញើរប្រាក់តាមទូរស័ព្ទ">Transfer money</div>
                <div class="c payment" id="transfer_money">
                    <span k="ផ្ញើរប្រាក់តាម">Transfer money via</span>
                    <img class="d" src="img/wing.jpg"/>
                    <img class="e" src="img/true_money.jpg">
                    <img class="f" src="img/emoney.jpg">
                </div>
            </a>
        </div>
        
    </div>
</div>





<div id="delivery_time_modal" class="modal">
    <div class="header-title" k="ម៉ោងដឹកជញ្ជូន">Delivery Time</div>
    <div class="back" onclick="closeModal('delivery_time_modal')">
        <span class="close ion-ios-close-empty"></span>
    </div>
    <div class="uu">
        <div class="a item item-complex" onclick="chooseExpressDelivery()">
            <a class="item-content">
                <div class="b" id="express_delivery_type" k="ដឹកជញ្ជូនរហ័ស">Express Delivery</div>
                <div class="c">
                    <span k="ទទួលទំនិញ">Recieve Product</span>                    
                    <strong id="express_delivery_time"></strong>
                </div>
            </a>
        </div>
        <div class="a item item-complex"onclick="openSmallModal('choose_day_time_modal')">
            <a class="item-content">
                <div class="b" id="schedule_delivery_type" k="ដឹកជញ្ជូនក្នុងពេលកំណត់">Schedule Delivery</div>
                <div class="c">
                <span k="កំនត់ថ្ងៃនិងម៉ោងទទួលទំនិញ">Set date and time to recieve product</span>
            </div>
            </a>
        </div>
    </div>
</div>


<script>/*****************************************************************/</script>

<ion-view hide-nav-bar="true" class="header-view">
    <ion-content id="order" class="cart-ion-content">
        
        
        <div class="eq">
            <div class="a" k="អាស័យដ្ឋានដឹកជញ្ជូន">Delivery Address</div>
            <input id="shipping_addr_id" type="hidden">
            <div id="shipping_addr" class="item item-complex">
                
            </div>
            <div class="b item item-complex" id="add_address" onclick="openModal('shipping_info_modal')">
                <a class="item-content">
                    <span class="c" k="បន្ថែមអាស័យដ្ឋាន">Add an address</span>
                </a>
            </div>                    
        </div>
        <div class="hr"></div>
        <div class="et">
            <div class="a item item-complex" onclick="openModal('delivery_time_modal')">
                <a class="item-content">
                    <div class="b" id="delivery_type" k="ដឹកជញ្ជូនរហ័ស">Express Delivery</div>
                    <div class="c">
                        <span k="ទទួលទំនិញ">Receive Product</span>                        
                        <strong id="delivery_time"></strong>    
                    </div>
                    <div class="fa fa-angle-right"></div>
                </a>
            </div>
        </div>
        
        <div class="et">
            <div class="a item item-complex" onclick="openModal('payment_method_modal')">
                <a class="item-content">
                    <div class="b" k="របៀបបង់ប្រាក់">Payment Method</div>
                    <div class="c payment">
                        <span class="ion-cash"></span> 
                        <span value="cash_on_delivery" id="payment_method" k="បង់ប្រាក់ពេលទទួលទំនិញ">Cash on Delivery</span>
                    </div>
                    <div class="fa fa-angle-right"></div>
                </a>
            </div>
        </div>
        
        <div class="hr"></div>
        <div class="wrap">
            <ul class="cart" id="cart-review">
                
            <ul>
        </div>  
        <div class="hr"></div>
        <div class="tp">
            <input id="msg_seller" placeholder="Message to the seller (Optional)" k="សារសំរាប់អ្នកលក់ (មិនបំពេញក៏បាន)"
            <span class="input-close ion-ios-close-outline"></span>
        </div>
        <div class="hr"></div>             
        <div class="tp">
            <div class="a">
                <span k="សរុបទំនិញ">Subtotal</span> (<span class="cart_count"></span> <span k="មុខ">item</span>)
                <span class="subtotal"></span>
            </div>
            <div class="b">
                 <span k="ថ្លៃដឹកជញ្ជូន">Delivery Fee</span>
                <span class="delivery_fee"></span>
            </div>
            <div class="c"></div>
            <div class="d">
                <span k="សរុប">Total</span>
                <span class="total"></span>
            </div>
        </div>
       
    </ion-content>
    <div class="cart-footer">
        
        <div class="e" id="summary" style="display:none">
            <div class"ff">
                <span class="ion-ios-close-empty" onclick="$('.cart-footer #summary').hide()"></span>
                <center k="តម្លៃ">Summary</center>
            </div>            
            <div class="g">
                <span k="សរុបទំនិញ">Subtotal</span> (<span class="cart_count"></span> <span k="មុខ">item</span>)
                <span class="subtotal"></span>
            </div>
            <div class="g">
                <span k="ថ្លៃដឹកជញ្ជូន">Delivery Fee</span>
                <span class="delivery_fee"></span>
            </div>
            <div class="g h">
                <span k="សរុប">Total</span>
                <span class="total"></span>
            </div>
                
        </div>
        <div class="a" ontap="$('.cart-footer #summary').toggle()">
            <div class="aa">
                <div class="b"><span k="តម្លៃសរុប">Total</span></div>
                <div class="c"><span class="ion-arrow-down-b"></span></div>
            </div>
            <div class="ab"><span class="total"></span></div>
        </div>
        <div class="d" k="បញ្ជាទិញ" ontap="placeOrder()">PLACE ORDER</div>
    </div>
    
</ion-view>
<script>

    loadDefaultShippingInfo();
    loadCart();
    la();         
    
    /*Fix Delivery Fee not showng */
    delivery_fee = localStorage.getItem('delivery_fee');
    $('.delivery_fee').text('$ '+delivery_fee);
    
    
    
    
    
    
    /* Load Default Address from Review Order page */
    function loadDefaultShippingInfo(){
        var user_id = localStorage.getItem('user_id');        
        $.post(url+'app/shipping_info.php',{user_id:user_id}, function(data){
            var a = JSON.parse(data)[0]; 
            str = shippingInfoItem(a);
            str += '<span class="fa fa-angle-right"></span>';
            $('.eq #shipping_addr').html(str);
            $('.eq #shipping_addr_id').val(a['id']);
            
            $('.eq #shipping_addr .shipping-item').on('click', function(){
                loadShippingAddr(a['id']); // arg : selected_id
                //window.location.href = "#tab/shipping_addr_cart";            
                openModal('shipping_address_modal');
            });
        });
                
        
    }
    
    
    
    /* Switch Location Tab Input for Add an address Modal */
    
    var d = localStorage.getItem('delivery_to').split(',');
    if (lang == 'en'){
        $('.lg #location').text(d[0]);
    } else {
        $('.lg #location').text(d[1]);
    }
    $('.lg #location').attr('value', d[0]+','+d[1]);
    switchLocationTab();
    
    
    /* Default Delivery Time for Express Delivery */
    var delivery_to = localStorage.getItem('delivery_to').split(',')[0];
    $.post(url+'module/delivery_time.php',{lang:lang, location:delivery_to}, function(data){
        var a = JSON.parse(data);
        $('.uu #express_delivery_time').text(a['text']);
        $('.et #delivery_time').text(a['text']); 
        $('.uu #express_delivery_time').attr('value', a['value']);
        $('.et #delivery_time').attr('value', a['value']); 
        
    });        
    
    function placeOrder(){
        var cart = localStorage.getItem('shopping_cart');
        var delivery_fee = localStorage.getItem('delivery_fee');
        var total_price = $('#order .total').text();
        var ordered_by = localStorage.getItem('user_id');
        var location = localStorage.getItem('delivery_to').split(',')[0];
        var message = $('#order #msg_seller').val();
        var shipping_addr_id = $('.eq #shipping_addr_id').val();  
        var payment_method = $('#order #payment_method').attr('value');
        var delivery_time = $('#order #delivery_time').attr('value');
        
        
        $.post(url+'app/place_order.php', 
        {cart:cart, delivery_fee:delivery_fee, total_price:total_price,ordered_by:ordered_by,
        location:location, message:message, shipping_addr_id:shipping_addr_id,
        payment_method:payment_method, delivery_time:delivery_time},
        function(data){
            if (data == 'success'){
                localStorage.removeItem('shopping_cart');
                loadCart();
                $('#go_back_to_cart').click();
                openModal('order_placed_modal');    
            } else {
                alert(data);
            }
            
        });
        
    }
    
    $.post(url+'module/date_select.php',{lang:lang}, function(data){        
        a = JSON.parse(data);
        for (var i = 0; i < a.length; i++){
            var str = '<li value="'+a[i]['val']+'"';
            if (i == 0) str += ' class="selected" ';
            str += 'onclick="selectDayTime(\'day\', \''+a[i]['val']+'\')">';
            str += a[i]['txt'];
            str += '</li>';
            $('.yo #choose_day_ul').append(str);
        }
    });
    
    
    loadSelectTime('default');
    function loadSelectTime(chosen_date){        
        $.post(url+'module/time_select.php',{lang:lang, chosen_date:chosen_date}, function(data){
            a = JSON.parse(data);
            $('.yo #choose_time_ul').html('');
            for (var i = 0; i < a.length; i++){
                var b = a[i];
                var str = '<li value="'+b['value']+'"';
                if (i == 0) str += ' class="selected" ';
                str += 'onclick="selectDayTime(\'time\', \''+b['value']+'\')">';
                str += b['text'];
                str += '</li>';
                $('.yo #choose_time_ul').append(str);
            }        
        });
    }
    
   
    function chooseExpressDelivery(){
        closeModal('delivery_time_modal');
        $('#order #delivery_type').text($('#delivery_time_modal #express_delivery_type').text());
        $('#order #delivery_time').text($('#delivery_time_modal #express_delivery_time').text());
        $('#order #delivery_time').attr('value', $('#delivery_time_modal #express_delivery_time').attr('value'));
        
    }
    
    function selectPaymentMethod(type){
        closeModal('payment_method_modal');
        $('#order #payment_method').html($('#payment_method_modal #'+type).html());
        $('#order #payment_method').attr('value', type);
    }
            
    function selectDayTime(type, val){
        $('#choose_'+type+'_ul li').removeClass('selected');
        $('#choose_'+type+'_ul li[value="'+val+'"]').addClass('selected');
        if (type == 'day'){            
            loadSelectTime(val);                
        }       
    }
   
    function setScheduleDate(){
        closeModal('delivery_time_modal');
        closeSmallModal('choose_day_time_modal'); 
        $('#order #delivery_type').text($('#delivery_time_modal #schedule_delivery_type').text());
        $('.et #delivery_time').text($('.yo #choose_day_ul [class="selected"]').text()+' '+$('.yo #choose_time_ul [class="selected"]').text());
        
        $('#order #delivery_type').attr('value', $('#delivery_time_modal #schedule_delivery_type').attr('value'));
        $('.et #delivery_time').attr('value', $('.yo #choose_day_ul [class="selected"]').attr('value')+','+$('.yo #choose_time_ul [class="selected"]').attr('value'));
    }
    
    

   
</script>

