<div class="app-header">
    <div class="header-title" k="បញ្ជាក់ការកម្មង់">Review Order</div>
    <div class="back" ng-click="myGoBack();">
        <span class="ion-ios-arrow-left"></span>
    </div>
</div>



<div id="shipping_address_modal" class="modal">
    <div class="header-title" k="អាស័យដ្ឋានដឹកជញ្ជូន">Shipping Address</div> 
    <div class="back" onclick="closeModal('shipping_address_modal')">
        <span class="close ion-ios-close-empty"></span>
    </div>        
    <span onclick="closeModal('shipping_address_modal'); window.location.href='#tab/account'; window.location.href='#tab/shipping_addr'" class="right-nav" k="កែប្រែ">Edit</span>
    <ion-content class="modal-body">        
        <div class="qw">
            <ul class="shipping_address_item">
                
            </ul>
            <div class="t">
                <button class="btn" onclick="addNewAddress(1)">Add new Address</button>
            </div>
        </div>            
    </ion-content>
</div>





<div id="delivery_time_modal" class="modal">
    <div class="header-title" k="ម៉ោងដឹកជញ្ជូន">Delivery Time</div>
    <div class="back" onclick="closeModal('delivery_time_modal')">
        <span class="close ion-ios-close-empty"></span>
    </div>
    <ion-content class="uu modal-body">
        <div class="a item item-complex" onclick="chooseExpressDelivery()">
            <a class="item-content">
                <div class="b" id="express_delivery_type" k="ដឹកជញ្ជូនរហ័ស">Express Delivery</div>
                <div class="c">
                    <span k="ទទួលទំនិញ">Recieve Product</span>                    
                    <strong id="express_delivery_time"></strong>
                </div>
            </a>
        </div>
        <div class="a item item-complex"onclick="openSmallModal('choose_day_time_modal')">
            <a class="item-content">
                <div class="b" id="schedule_delivery_type" k="ដឹកជញ្ជូនក្នុងពេលកំណត់">Schedule Delivery</div>
                <div class="c">
                <span k="កំនត់ថ្ងៃនិងម៉ោងទទួលទំនិញ">Set date and time to recieve product</span>
            </div>
            </a>
        </div>
    </ion-content>
</div>


<script>/*****************************************************************/</script>

<ion-view hide-nav-bar="true" class="header-view">
    <ion-content id="order" class="cart-ion-content">
        
        
        <div class="eq">
            <div class="a" k="អាស័យដ្ឋានដឹកជញ្ជូន">Delivery Address</div>
            <input id="shipping_addr_id" type="hidden">
            <div id="shipping_addr" class="item item-complex">
                
            </div>
            <div class="b item item-complex" id="add_address" onclick="openModal('shipping_info_modal')">
                <a class="item-content">
                    <span class="c" k="បន្ថែមអាស័យដ្ឋាន">Add an address</span>
                </a>
            </div>                    
        </div>
        <div class="hr"></div>
        <div class="et">
            <div class="a item item-complex" onclick="openModal('delivery_time_modal')">
                <a class="item-content">
                    <div class="b" id="delivery_type" k="ដឹកជញ្ជូនរហ័ស">Express Delivery</div>
                    <div class="c">
                        <span k="ទទួលទំនិញ">Receive Product</span>                        
                        <strong id="delivery_time"></strong>    
                    </div>
                    <div class="fa fa-angle-right"></div>
                </a>
            </div>
        </div>
        
        <div class="et">
            <div class="a item item-complex" onclick="openModal('payment_method_modal')">
                <a class="item-content" id="payment_method_panel">
                    <div class="b" k="របៀបបង់ប្រាក់">Payment Method</div>
                    <div class="c payment" id="payment_method">
                        
                    </div>
                    <div class="fa fa-angle-right"></div>
                </a>
            </div>
        </div>
        
        <div class="hr"></div>
        <div class="wrap">
            <ul class="cart" id="cart-review">
                
            </ul>
        </div>  
        <div class="hr"></div>
        <div class="tp input-form">
            <input id="msg_seller" placeholder="Message to the seller (Optional)" k="សារសំរាប់អ្នកលក់ (បើមាន)">
            <span class="input-close ion-ios-close-outline"></span>
        </div>
        <div class="hr"></div>             
        <div class="tp">
            <div class="a">
                <span k="សរុបទំនិញ">Subtotal</span> (<span class="cart_count"></span> <span k="មុខ">item</span>)
                <span class="subtotal"></span>
            </div>
            <div class="b">
                 <span k="ថ្លៃដឹកជញ្ជូន">Delivery Fee</span>
                <span class="delivery_fee"></span>
            </div>
            <div class="c"></div>
            <div class="d">
                <span k="សរុប">Total</span>
                <span class="total"></span>
            </div>
        </div>
       
    </ion-content>
    <div class="cart-footer">
        
        <div class="e" id="summary" style="display:none">
            <div class="ff">
                <span class="ion-ios-close-empty" onclick="$('.cart-footer #summary').hide()"></span>
                <center k="តម្លៃ">Summary</center>
            </div>            
            <div class="g">
                <span k="សរុបទំនិញ">Subtotal</span> (<span class="cart_count"></span> <span k="មុខ">item</span>)
                <span class="subtotal"></span>
            </div>
            <div class="g">
                <span k="ថ្លៃដឹកជញ្ជូន">Delivery Fee</span>
                <span class="delivery_fee"></span>
            </div>
            <div class="g h">
                <span k="សរុប">Total</span>
                <span class="total"></span>
            </div>
                
        </div>
        <div class="a" onclick="$('.cart-footer #summary').toggle()">
            <div class="aa">
                <div class="b"><span k="តម្លៃសរុប">Total</span></div>
                <div class="c"><span class="ion-arrow-down-b"></span></div>
            </div>
            <div class="ab"><span class="total"></span></div>
        </div>
        <div class="d" id="place_order" onclick="placeOrder()">
            <span k="បញ្ជាទិញ">PLACE ORDER</span>
            <ion-spinner style="display:none" icon="ios"></ion-spinner>
        </div>
    </div>
    
    
</ion-view>
<script>

    loadDefaultShippingInfo();
    loadCart();
    updateAvailablePaymentMethod();
    loadDeliveryTime();
    la();         
    
    /*Fix Delivery Fee not showng */
    delivery_fee = localStorage.getItem('delivery_fee');
    $('.delivery_fee').text('$ '+delivery_fee);
    
    
    
    
    
    
    /* Load Default Address from Review Order page */
    function loadDefaultShippingInfo(){
        var user_id = localStorage.getItem('user_id');        
        $.post(URL+'app/shipping_info.php',{user_id:user_id}, function(data){
            if (data == '[]'){
                myAlert('Please enter a Shipping Address first', 'សូមបញ្ចូលអាស័យដ្ឋានដឹកជញ្ជូនជាមុនសិន');
                addNewAddress(1);
            } else {
                var a = JSON.parse(data)[0]; 
                name_en = a['location'].split(',')[0];
                updateDeliveryTo(name_en);
                str = shippingInfoItem(a);
                str += '<span class="fa fa-angle-right"></span>';
                $('.eq #shipping_addr').html(str);
                $('.eq #shipping_addr_id').val(a['id']);
                
                $('.eq #shipping_addr .shipping-item').on('click', function(){
                    loadShippingAddr(a['id']); // selected_id
                    openModal('shipping_address_modal');
                });
            }
        });
    }
    
    
    
    /* Switch Location Tab Input for Add an address Modal */
    
    var d = localStorage.getItem('delivery_to').split(',');
    if (lang == 'en'){
        $('.lg #location').text(d[0]);
    } else {
        $('.lg #location').text(d[1]);
    }
    $('.lg #location').attr('value', d[0]+','+d[1]);
    switchLocationTab();
    
    
    
    
    function placeOrder(){
        var cart = localStorage.getItem('shopping_cart');
        var subtotal = $('#order .subtotal').text().substring(2);
        var delivery_fee = $('#order .delivery_fee').text().substring(2);
        var total = $('#order .total').text().substring(2);
        var ordered_by = localStorage.getItem('user_id');
        var location = localStorage.getItem('delivery_to').split(',')[0];
        var message = $('#order #msg_seller').val();
        var shipping_addr_id = $('.eq #shipping_addr_id').val();  
        var payment_method = $('#order #payment_method').attr('value');
        var delivery_time = $('#order #delivery_time').attr('value');
        
        if (shipping_addr_id == '') {
            addNewAddress(1);
        } else {
            $('.cart-footer #place_order span').hide();
            $('.cart-footer #place_order ion-spinner').show();
            $.post(URL+'app/place_order.php', 
            {cart:cart, subtotal:subtotal, delivery_fee:delivery_fee, total:total, ordered_by:ordered_by,
            location:location, message:message, shipping_addr_id:shipping_addr_id,
            payment_method:payment_method, delivery_time:delivery_time},
            function(data){                        
                var a = JSON.parse(data);
                if (a['result'] == 'success'){
                    orderPlaced(a['order_id']);                
                    localStorage.removeItem('shopping_cart');                
                    loadCart();
                    window.location.href='#tab/cart';
                    $('.cart-footer #place_order span').show();
                    $('.cart-footer #place_order ion-spinner').hide();
                } else {
                    alert(data);
                }
                
            });    
        }        
    }
    
    
    
    
    /* Load Date Select */    
    $.post(URL+'module/date_select.php',{lang:lang}, function(data){        
        a = JSON.parse(data);
        
        for (var i = 0; i < a.length; i++){
            var str = '<li value="'+a[i]['val']+'"';
            if (i == 0) str += ' class="selected" ';
            str += 'onclick="selectDayTime(\'day\', \''+a[i]['val']+'\')">';
            str += a[i]['txt'];
            str += '</li>';
            $('.yo #choose_day_ul').append(str);
        }
    });
    
    
    loadSelectTime('default');
    
    function loadSelectTime(chosen_date){        
        $.post(URL+'module/time_select.php',{lang:lang, chosen_date:chosen_date}, function(data){
            a = JSON.parse(data);
            $('.yo #choose_time_ul').html('');
            for (var i = 0; i < a.length; i++){
                var b = a[i];
                var str = '<li value="'+b['value']+'"';
                if (i == 0) str += ' class="selected" ';
                str += 'onclick="selectDayTime(\'time\', \''+b['value']+'\')">';
                str += b['text'];
                str += '</li>';
                $('.yo #choose_time_ul').append(str);
            }        
        });
    }
    
   
    function chooseExpressDelivery(){
        closeModal('delivery_time_modal');
        $('#order #delivery_type').text($('#delivery_time_modal #express_delivery_type').text());
        $('#order #delivery_time').text($('#delivery_time_modal #express_delivery_time').text());
        $('#order #delivery_time').attr('value', $('#delivery_time_modal #express_delivery_time').attr('value'));
        
    }
    
    
            
    function selectDayTime(type, val){
        $('#choose_'+type+'_ul li').removeClass('selected');
        $('#choose_'+type+'_ul li[value="'+val+'"]').addClass('selected');
        if (type == 'day'){            
            loadSelectTime(val);                
        }       
    }
   
    function setScheduleDate(){
        closeModal('delivery_time_modal');
        closeSmallModal('choose_day_time_modal'); 
        $('#order #delivery_type').text($('#delivery_time_modal #schedule_delivery_type').text());
        $('.et #delivery_time').text($('.yo #choose_day_ul [class="selected"]').text()+' '+$('.yo #choose_time_ul [class="selected"]').text());
        
        $('#order #delivery_type').attr('value', $('#delivery_time_modal #schedule_delivery_type').attr('value'));
        $('.et #delivery_time').attr('value', $('.yo #choose_day_ul [class="selected"]').attr('value')+','+$('.yo #choose_time_ul [class="selected"]').attr('value'));
    }
    
    

   
</script>

