<div class="app-header">
    <form class="search-bar" onsubmit="submitSearchForm('search-search');">
        <i class="icon ion-search"></i>
        <input autocorrect="off" autocapitalize="off" onkeyup="searchKeyword('search');" k="ខ្ញុំកំពុងស្វែងរក ..." id="search-search" onclick="searchClick()" placeholder="I'm shopping for ..." class="search">
        <span ontap="cancelClick()" k="បិទ" class="cancel">Cancel</span>
    </form>
    <ul class="search-form">
        
    </ul>
</div>
<ion-view hide-nav-bar="true" style="margin-top:65px">
    <ion-content>
        <div class="fv item item-complex">            
            <a class="item-content" href="#tab/all_categories">
                <span class="ion-ios-list-outline a"></span> 
                <span  k="ប្រភេទទាំងអស់">All Categories</span>
                <span class="fa fa-angle-right"></span>
            </a>
        </div>
        <div class="sh" id="search_history" style="display:none">
            <div class="a">
                <span k="ដានស្វែងរក">SEARCH HISTORY</span>
                <span class="c" k="លុប" ontap="clearSearchHistory()">CLEAR</span>
            </div>
            <ul class="b">
                
            </ul>
        </div>
        
        <div class="sh" id="popular_search">
            <div class="a">
                <span k="ពាក្យស្វែងរកពេញនិយម">POPULAR SEARCH</span>
            </div>
            <ul class="b">
                
            </ul>
        </div>
    </ion-content>
</ion-view>
<script>
    
    //localStorage.setItem('search_history', ',Phone,Watch,a,b,c,d');
    loadSearchHistory();
    
    /* Popular Search */
    $.post(URL+'app/popular_search.php', {}, function(data){
        var a = JSON.parse(data).split(',');
        var str = '';
        for (var i = 0; i < a.length; i++){       
            str += '<ion-item class="item item-complex" onclick="addSearchHistory(\''+a[i]+'\'); searchProduct(\''+a[i]+'\', \'best_match\');">';
            str += '<a class="item-content" href="#tab/search_res">';
            str += a[i];
            str += '<span class="d ion-ios-undo-outline"></span>';
            str += '</a></ion_item>';
        }
            $('#popular_search .b').html(str);
    });
    
    
    function loadSearchHistory(){        
        search_history = localStorage.getItem('search_history');
        if (search_history != null){
            var a = search_history.split(',');
            if (a.length > 0) {
                $('.sh .c').show();
            } else {
                $('.sh .c').hide();
            }
            var str = '';
            for (var i = 1; i < a.length; i++){       
                str += '<ion-item class="item item-complex" onclick="addSearchHistory(\''+a[i]+'\'); searchProduct(\''+a[i]+'\', \'best_match\');">';
                str += '<a class="item-content" href="#tab/search_res">';
                str += a[i];
                str += '<span class="d ion-ios-undo-outline"></span>';
                str += '</a></ion_item>';
                
            }
            $('#search_history .b').html(str);
        }
    }
    
    
    function clearSearchHistory(){        
        alertConfirm('Clear Search History?', 'លុបដានស្វែងរក?');            
        $('#alert_confirm .confirm').on('click', function(){                      
            localStorage.removeItem('search_history');   
            $('#search_history .b').html('');
            $('#search_history .c').hide();
        });     
    }
    la();
</script>

