
   

<!-- Product Modal -->
<input id="loaded_ad_id" type="hidden">              
<div class="product_page modal modal2" id="product_modal">

    <div id="product_page_header" class="back">
        <span class="ion-ios-arrow-left" onclick="goBackProduct('product')"></span>
        <span onclick="gotoCart()" class="ion-ios-cart-outline"></span>
        <span onclick="gotoCart()" class="noti-label cart_count"></span>
    </div>
    
    <div class="bt hide" id="add_to_cart_pop_up" style="display:none">
        <span class="j ion-ios-box-outline store_info_btn"></span>
        <span class="h" onclick="loadQuestionReviewList('question', 'modal', ''); openModal('question_modal')" k="សួរសំនួរ">Ask Question</span>
        <span class="i" k="ដាក់ចូលកន្ត្រក" onclick="addToCart()">Add to Cart</span>
    </div>
    
    <div class="no-tabs ion-content" id="product_page_content">     
        <div class="ad_images">
            <span class="close ion-ios-close-empty" onclick="removeFullScreen()"></span>
            <div class="helper" onclick="removeFullScreen()">
                
            </div>              
            <div id="no_ad_image" style="width:100%">
                <img class="owl-lazy" style="width:100%; height:100%" src="img/no_img.jpg">
            </div>
            <div class="ad_image owl-carousel owl-theme" style="width:100%">
                
            </div>
            <input id="ad_photos" type="hidden">
            
            <div class="wishlist-btn" onclick="addToWishlist()">
                <span class="fa fa-heart"></span>    
            </div>        
        </div>
        
        
        <div id="product_body" style="display:none">
            <input id="ad_id" type="text" style="display:none">
            <div class="w" id="title"></div>
            <div class="pp">
                
                <span id="price"></span>
                <span id="normal_price"></span>
                <span id="discount"></span>
                <span id="quantity"></span>
            </div>
            <div class="ii">
                <div class="a">
                    <div class="b" id="ad_id_txt"></div>
                    <div class="c" k="លេខកូដ">Item ID</div>
                </div>
                <div class="a">
                    <div class="b" id="n_order"></div>
                    <div class="c" k="កម្មង់">Order</div>
                </div>
                <div class="a">
                    <div class="b" id="view"></div>
                    <div class="c" k="មើល">View</div>
                </div>
            </div>
            <div class="hr"></div>
            
            <div class="et" id="product_delivery_to">
                <div class="a item item-complex" onclick="openModal('delivery_option_product')">
                    <a class="item-content">
                        <div class="b" id="delivery_type"><span k="ដឹកទៅកាន់">Deliver to</span> <strong id="delivery_to"></strong></div>
                        <div class="c">
                            <span style="color:#aaa" k="ថ្លៃដឹកជញ្ជូន">Delivery Fee: </span>                        
                            <strong id="delivery_fee">Free</strong>    
                        </div>
                        <div class="c">
                            <span style="color:#aaa" k="ទទួលទំនិញ">Receive Product</span>
                            <strong id="delivery_time"></strong>    
                        </div>
                        <div class="fa fa-angle-right"></div>                    
                    </a>
                </div>
            </div>
        </div>
        
        
        <div class="hr"></div>
        <div class="at">
            <div class="a">
                <div class="b" k="បរិមាណ">Quantity</div>
                <div class="c">
                    <span class="d fa fa-minus" onclick="qtyMinus()"></span>
                    <span class="e" id="qty">1</span>
                    <span class="f fa fa-plus" onclick="qtyPlus()"></span>
                </div>
            </div>
        </div>
        <div class="bt" id="add_to_cart_panel">
            <span class="j ion-ios-box-outline store_info_btn"></span>
            <span class="h" onclick="loadQuestionReviewList('question', 'modal', ''); openModal('question_modal')" k="សួរសំនួរ">Ask Question</span>
            <span class="i" k="ដាក់ចូលកន្ត្រក" onclick="addToCart()">Add to Cart</span>
        </div>
        
        <div class="hr"></div>
        <div class="pd">
            <div class="a" k="ការពិពណ៌នាអំពីផលិតផល">Product Description</div>
            <div class="b" id="desc"></div>
            <div class="c" k="មើលលម្អិត" onclick="loadDescription()">
                View Details
            </div>
        </div>
        <div class="hr"></div>
        <div class="qs" id="question_panel" onclick="loadQuestionReviewList('question', 'modal', ''); openModal('question_modal')">
            <div class="a" k="សំនួរ និង ចម្លើយ">Question (<span id="n_question">0</span>)</div>
            <div id="question">
            
            </div>
        </div>
        <div class="hr"></div>
        <div class="qs" id="review_panel" onclick="loadQuestionReviewList('review', 'modal', ''); openModal('review_modal')">
            <div class="a" k="រង្វាយតម្លៃ">Review (<span id="n_review">0</span>)</div>
            <div id="review">
            
            </div>
        </div>
        <div class="hr"></div>
        <div class="rb" id="store_info">
            <div class="a">
                <span class="aa" k="ដាក់លក់ដោយ">Store Info</span>                
            </div>
            <div class="b">
                <div class="c">
                    <img id="store_img" />
                </div>
                <div class="d">
                    <span class="e" id="store_full_name"></span> 
                    <span class="f">
                        (<span id="store_n_product">0</span> 
                        <span k="ទំនិញ">item</span>)
                    </span>                        
                </div>
            </div>
        </div>
        <div class="hr"></div>
        
        <div class="ra" id="related_product_panel">
            <div class="aa" k="ផលិតផលស្រដៀងគ្នា">Related Products</div>
            <div class="bb" id="related_products">
            
            </div>
        </div>
    </div>
    <div class="go-to-top" onclick="scrollToTop(500)">
        <span class="ion-ios-arrow-up"></span>
    </div>
</div>

<script src="js/product.js"></script>


<!-- Delivery Option Modal -->
<div id="delivery_option_product" class="modal">
    <div class="header-title" k="ដឹកទៅកាន់">Delivery To</div>
    <div class="back" onclick="closeModal('delivery_option_product')">
        <span class="close ion-ios-close-empty"></span>
    </div>
    
    <ion-content class="sm-modal-body">
        <ul id="choose_location_ul">
            
        </ul>
    </ion-content>    
</div>
<!-- /Delivery Option Modal -->


<!-- Submit Review Modal -->
<div id="submit_review_modal" class="modal">
    <div class="header-title"><span k="សរសេររង្វាយតម្លៃ">Write a Review</span></div>
    <div class="back" onclick="closeModal('submit_review_modal')">
        <span class="close ion-ios-close-empty"></span>
    </div>    
    <ion-content class="sm-modal-body">
        <div class="wr">
            <input type="text" id="rv_ad_id" style="display:none"/>
            <div class="a">
                <div class="b">
                    <img id="rv_img">
                </div>
                <div class="c" id="rv_title">
                    
                </div>
            </div>
        </div>    
        <div class="hr"></div>
        <div class="wt">
            <div class="a">
                <div class="b" k="សូមវាយតម្លៃផលិតផលនេះ">Please rate this product</div>
                <input id="review_rate" type="hidden" value="0">
                <div class="c">
                    <span id="r1" class="fa fa-star"></span>
                    <span id="r2" class="fa fa-star"></span>
                    <span id="r3" class="fa fa-star"></span>
                    <span id="r4" class="fa fa-star"></span>
                    <span id="r5" class="fa fa-star"></span>
                    <span id="rate_text"></span>
                </div>
                
                
            </div>
            <div class="d">
                <textarea id="review_text" rows="6" placeholder="Write your review about product (Delivery, Packaging etc)" k="សូមសរសេរវាយតំលៃអំពីផលិតផល (ការដឹកជញ្ជូន ការវេចខ្ចប់ ល។)"></textarea>
            </div>
            <div class="e">
                <div class="g"  id="rv_1" onclick="choosePhoto('rv_1')">                
                    <span class="f ion-ios-camera-outline"></span>
                    <img style="display:none" />
                </div>
                <div class="g"  id="rv_2" onclick="choosePhoto('rv_2')">                
                    <span class="f ion-ios-camera-outline"></span>
                    <img style="display:none" />
                </div>                
                <div class="g"  id="rv_3" onclick="choosePhoto('rv_3')">                
                    <span class="f ion-ios-camera-outline"></span>
                    <img style="display:none" />
                </div>                
                <div class="g"  id="rv_4" onclick="choosePhoto('rv_4')">                
                    <span class="f ion-ios-camera-outline"></span>
                    <img style="display:none" />
                </div>                
            </div>
            <button class="btn" onclick="submitReview()" k="បញ្ចូនរង្វាយតម្លៃ">Submit Review</button>        
        </div>
       
    </ion-content>    
</div>
<!-- /Submit Review Modal -->


<!-- Question Modal -->
<div id="question_modal" class="modal">
    <div class="header-title"><span k="សំនួរ">Question</span> (<span id="n_question">0</span>)</div>
    <div class="back" onclick="closeModal('question_modal')">
        <span class="close ion-ios-close-empty"></span>
    </div>    
    <ion-content class="sm-modal-body qs">
        <div id="question">
            
        </div>
    </ion-content>    
    <div class="question-footer">
        <input id="question_body" placeholder="Ask about the product" k="សួរអំពីផលិតផល">
        <button onclick="askQuestion()" k="សួរ">Ask</button>
    </div>
</div>
<!-- /Question Modal -->


<!-- Review Modal -->
<div id="review_modal" class="modal">
    <div class="header-title"><span k="រង្វាយតម្លៃ">Review</span> (<span id="n_review">0</span>)</div>
    <div class="back" onclick="closeModal('review_modal')">
        <span class="close ion-ios-close-empty"></span>
    </div>    
    <ion-content class="sm-modal-body">
        <div class="lu" id="review_header">
            <div class="a">
                <div class="c">
                    <span class="d" id="avg_rate">0</span>
                    <span class="e">/5</span>
                </div>
                <div class="f" id="total_rate_star">
                    
                </div>
                <div class="g">
                    <span id="total_review">0</span> <span k="រង្វាយតម្លៃ">Reviews</span>
                </div>
            </div>
            <div class="b" id="rate_panel">
                
            </div>
            <script>
                var str = '';
                for (var i = 5; i >= 1; i--){
                    str += '<div class="h">';
                        str += '<div class="i">';
                            for (var j = 1; j <= i; j++){
                                str += '<span class="fa fa-star rated-2"></span>';                            
                            }
                            for (var j = (i+1); j <= 5; j++){
                                str += '<span class="fa fa-star unrated-2"></span>';                            
                            }
                        str += '</div>';
                        str += '<div class="j">';
                            str += '<div class="k" id="rate_bar_'+i+'" style="width: 0px"></div>';
                            str += '<div class="l" id="unrate_bar_'+i+'" style="width: 100px"></div>';
                        str += '</div>';
                        str += '<div class="m" id="rate_count_'+i+'">0</div>';
                    str += '</div>';
                }
                $('#rate_panel').html(str);
            </script>
        </div>
        <div class="hr"></div>
        <div id="review" class="qs">
            
        </div>        
    </ion-content>    
    <div class="question-footer" onclick="closeModal('review_modal'); openModal('submit_review_modal')">
        <center>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
        </center>
        <center k="សរសេររង្វាយតម្លៃរបស់អ្នក">Submit your Review</center>
    </div>
</div>
<!-- /Review Modal -->
   
<div class="sm-modal" id="choose_location_modal">
    <div class="shadow"></div>
    <div class="header-title" k="ជ្រើសរើសខេត្តក្រុង">Choose City / Province</div>
    <div class="back" onclick="closeSmallModal('choose_location_modal')">
        <span class="close ion-ios-close-empty"></span>
    </div>                        
    <ion-content class="sm-modal-body">
        <ul id="choose_location_ul_2">
            
        </ul>
    </ion-content>
</div>    

<div class="sm-modal" id="choose_day_time_modal">
    <div class="shadow"></div>
    <div class="header-title" k="ជ្រើសរើសថ្ងៃនិងម៉ោង">Choose Date and Time</div>
    <div class="back" onclick="closeSmallModal('choose_day_time_modal')">
        <span class="close ion-ios-close-empty"></span>
    </div>                        
    <ion-content class="sm-modal-body" style="padding:20px 10px">
        <div class="yo">
            <ul id="choose_day_ul" class="a">
                
            </ul>
            <ul id="choose_time_ul" class="b">
               
            </ul>
        </div>
        <button class="c" k="យល់ព្រម" onclick="setScheduleDate()">Okay</button>       
    </ion-content>
</div>    


<div id="register_modal" class="modal">
    <div class="header-title" k="ចុះឈ្មោះ">Register</div>
    <div class="back" onclick="closeModal('register_modal')">
        <span class="close ion-ios-close-empty"></span>
    </div>
    <div class="modal-body">
        <center>
            <img src="img/nekoten.png" width="100" alt="" />            
        </center>
        <div class="lg">            
            <div class="a">
                <button><span class="fa fa-facebook-official"></span> <span k="ចុះឈ្មោះតាម Facebook">Register with Facebook</span></button>                
            </div>
            <div class="b">_______________OR_______________</div>
            <div class="c">
                <form id="register_form" class="input-form" onsubmit="signInRegister('register')">                
                    <div class="d">
                        <div class="e"><span class="ion-person"></span></div>
                        <div class="f"><input k="ឈ្មោះ" id="full_name" placeholder="Full Name" type="text">
                            <span class="input-close ion-ios-close-outline"></span>
                        </div>
                    </div>
                    <div class="d">
                        <div class="e"><span class="ion-ios-telephone"></span></div>
                        <div class="f"><input k="លេខទូរស័ព្ទ" id="phone_number" placeholder="Phone Number" type="numbeer" pattern="\d*">
                            <span class="input-close ion-ios-close-outline"></span>
                        </div>
                    </div>
                    <div class="d">
                        <div class="e"><span class="ion-ios-locked"></span></div>
                        <div class="f"><input k="លេខសំងាត់" id="password" placeholder="Password" type="password">
                            <span class="input-close ion-ios-close-outline"></span>
                        </div>
                    </div>
                    <div class="g">
                        <button onclick="submitRegister()" type="submit" k="បង្កើតគណនី">Create my Account</button>                
                    </div>
                </form>
            </div>
            <div class="i"><span k="បានចុះឈ្មោះរួចហើយ?">Already have an account? </span> <a onclick="closeModal('register_modal'); openModal('sign_in_modal')" k="ចូលគណនី">Sign in</a></div>
        </div>
    </div>
</div>


<div id="sign_in_modal" class="modal">
    <div class="header-title" k="ចូលគណនី">Sign In</div>
    <div class="back" onclick="closeModal('sign_in_modal')">
        <span class="close ion-ios-close-empty"></span>
    </div>
    <div class="modal-body">
        <center>
            <img src="img/nekoten.png" width="100" alt="" />            
        </center>
        <div class="lg">
            <div class="a">
                <button><span class="fa fa-facebook-official"></span> <span k="ចូលគណនីតាម Facebook">Sign in with Facebook</span></button>                
            </div>
            <div class="b">_______________OR_______________</div>
            <div class="c">
                <form id="sign_in_form" class="input-form" onsubmit="signInRegister('sign_in')">
                    <div class="d">
                        <div class="e"><span class="ion-ios-telephone"></span></div>
                        <div class="f"><input id="phone_number" k="ទូរស័ព្ទ" placeholder="Phone Number" type="number" pattern="\d*">
                            <span class="input-close ion-ios-close-outline"></span>
                        </div>
                    </div>
                    <div class="d">
                        <div class="e"><span class="ion-ios-locked"></span></div>
                        <div class="f"><input id="password" k="លេខសំងាត់" placeholder="Password" type="password">
                            <span  class="input-close ion-ios-close-outline"></span>
                        </div>
                    </div>
                    <div class="g">
                        <button type="submit" k="ចូលគណនីតាមលេខទូរស័ព្ទ">Sign in with Phone Number</button>
                    </div>
                </form>
            </div>
            <div class="h" onclick="closeModal('sign_in_modal'); openModal('forget_password_modal');" k="ភ្លេចលេខសំងាត់">Forget Password?</div>
            <div class="i"><span k="គ្មានគណនីនៅឡើយ?">Don't have Account yet?</span> <a onclick="closeModal('sign_in_modal'); openModal('register_modal');" k="ចុះឈ្មោះឥឡូវនេះ">Register now</a></div>
        </div>
    </div>
</div>

<script>
    /* Input Form Close */
$('.input-form input').on('keyup click', function(){
    if ($(this).val() != '') {
        $(this).siblings('.input-close').show();
    }    
});
$('.input-form input').on('blur', function(){
        $(this).siblings('.input-close').hide();
});
$('.input-form .input-close').on('click', function(){
    $(this).siblings('input').val('');
    $(this).siblings('input').focus();    
});
</script>



<!-- Forget Password -->
<div id="forget_password_modal" class="modal">
    <div class="header-title" k="ភេ្លចលេខសំងាត់">Forget Password</div>
    <div class="back" onclick="closeModal('forget_password_modal')">
        <span class="close ion-ios-close-empty"></span>
    </div>
    <div class="modal-body">
        <div class="rg" id="forget_1">
            <div class="a" k="យើងខ្ញុំនឹងផ្ញើរសារលេខកូដបញ្ជាក់ទៅកាន់លេខទូរស័ព្ទរបស់លោកអ្នក">
                We will send verification code to your phone number.
            </div>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label"  k="លេខទូរស័ព្ទ">Phone Number</span>
                    <input type="number" pattern="\d*" type="text" k="ឧ: 011123456" placeholder="ex: 011123456" id="phone_number">
                </label>
            </div>
            <button class="btn" k="ផ្ញើរសារលេខកូដ" onclick="sendVerificationCode()">Send Verify Code</button> 
        </div>
        <div class="rg hide" id="forget_2">
            <div class="a">
                <p k="វាអាចចំនាយពេលដល់ ១នាទីសំរាប់ការទទួលសារ ក្នុងករណីមានការកកស្ទះសេវាទូរស័ព្ទ ។">
                    It may take up to 1 minute until you receive the SMS due to Network Congestion.
                </p>
                
                <div>
                    <span k="លេខទូរស័ព្ទ: ">Phone Number: </span>
                    <span id="phone_number_text"></span>
                </div>
            </div>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label"  k="លេខកូដ: ">Code: </span>
                    <input type="number" pattern="\d*" type="text" k="ឧ: 1234" placeholder="ex: 1234" id="code">
                </label>
            </div>
        
            <button class="btn" onclick="submitVerificationCode()" k="បញ្ចូន">Submit</button>
            <p style="margin-top: 20px">
                <span k="ប្រសិនបើអ្នកនៅតែមិនទាន់បានទទួលសារទៀត សូមចុច ">
                    If you still don't receive the SMS, please click 
                </span>
                <a onclick="resendVerificationCode()" k="ផ្ញើរសារម្តងទៀត">Resend Verification SMS</a>
            </p>
        </div>
        
        <div class="rg hide" id="forget_3">
            <div class="a">
                <p k="សូមបញ្ចូលលេខសំងាត់ថ្មី">
                    Please enter your new password
                </p>
                <div>
                    <span k="លេខទូរស័ព្ទ: ">Phone Number: </span>
                    <span id="phone_number_text"></span>
                </div>
            </div>
            <div class="list" id="forget_password">
                <label class="item item-input item-stacked-label">
                    <span class="input-label"  k="លេខសំងាត់ថ្មី: ">New Password: </span>
                    <input type="password" type="text" id="new_pwd">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label"  k="បញ្ជាក់លេខសំងាត់ថ្មី: ">Confirm New Password: </span>
                    <input type="password" type="text" id="confirm_pwd">
                </label>
            </div>
        
            <button class="btn" onclick="submitNewPassword()" k="បញ្ចូន">Submit</button>
            
        </div>
    </div>
</div>
<!-- Forget Password -->


<!-- Shipping Info Modal -->
<div id="shipping_info_modal" class="modal">
    <div class="header-title" k="អាស័យដ្ឋានដឹកជញ្ជូន">Delivery Address</div>
    <div class="back">
        <span class="close ion-ios-close-empty" onclick="closeModal('shipping_info_modal')"></span>
        <span id="delete_address" onclick="deleteAddress()">
            <span k="លុបចេញ">Delete</span>
        </span>
    </div>
    <div class="lg ion-content">
        <div class="cc">
            <form id="shipping_info_form" class="input-form">
            <input type="hidden" id="addr_id">
                <div class="d">
                    <div class="e"><span class="ion-ios-person-outline"></span></div>
                    <div class="f"><input id="name" k="ឈ្មោះ" placeholder="Name" type="text">
                        <span class="input-close ion-ios-close-outline"></span>
                    </div>
                </div>
                <div class="d">
                    <div class="e"><span class="ion-ios-telephone"></span></div>
                    <div class="f"><input id="phone_number" k="ទូរស័ព្ទ" placeholder="Phone Number" type="number" pattern="\d*">
                        <span class="input-close ion-ios-close-outline"></span>
                    </div>
                </div>
                <div class="d">
                    <div class="e"><span class="ion-ios-location-outline"></span></div>
                    <div class="f"><span id="location" value="Phnom Penh" k="ភ្នំពេញ" class="f2" onclick="openSmallModal('choose_location_modal')">Phnom Penh</span></div>
                    <div class="f1"><span class="fa fa-angle-right"></span></div>                                                    
                </div>
                <div id="phnom_penh_tab">
                    <div class="my-tab">
                        <div class="a selected" id="tab-address" onclick="selectTab('tab-address')">
                            <span k="អាស័យដ្ឋាន">ADDRESS</span>
                        </div>
                        <div class="a" id="tab-gps" onclick="selectTab('tab-gps'); getLocation()">
                            <span>GPS</span>
                        </div>
                    </div>
                    <div class="my-tab-content">
                        <div class="a" id="tab-address">
                            <div class="d">                    
                                <div class="f">
                                    <input id="address" k="អាស័យដ្ឋាន (ឧ: ផ្ទះលេខ 41 ផ្លូវ 126)" placeholder="Address (ex: No. 41, St. 126)">
                                    <span class="input-close ion-ios-close-outline"></span>
                                </div>
                            </div>
                            <div class="d">   
                                <div class="f"><input id="near_by" k="នៅជិត (ឧ: នៅជិតផ្សារធំថ្មី)" placeholder="Nearby (ex: Near Phsar Thom Thmey)">
                                    <span class="input-close ion-ios-close-outline"></span>
                                </div>
                            </div>
                            
                        </div>
                        <div class="a" id="tab-gps" style="display:none">
                            
                            <div class="map_canvas" id="gps_map">
                                <div class="getting-gps">
                                    <ion-spinner icon="ios"></ion-spinner>
                                    <div k="កំពុងទាញយកទីតាំងបច្ចុប្បន្នរបស់អ្នក">     
                                    </div>
                                </div>
                            </div>                            
                            <input id="coordinate" type="hidden">
                            <span id="coordinate_text"></span>
                        </div>
                    </div>
                </div>
                
                <div id="province_tab" style="display:none">
                    <div class="d">
                        <span class="dd" k="យើងខ្ញុំនឹងផ្ញើរទំនិញទៅតាមឡានក្រុង រឺឡានឈ្នួលទៅកាន់ខេត្តរបស់លោកអ្នក">We will send product via bus or rent car to your province.</span>
                    </div>
                    <div class="d">                    
                        <div class="f">
                            <input id="bus_name" k="ឈ្មោះឡានក្រុង រឺ ឡានឈ្នួល (បើមាន)" placeholder="Name of Bus, Rent Car (Optional)">
                            <span class="input-close ion-ios-close-outline"></span>
                        </div>
                    </div>
                    <div class="d">                    
                        <div class="f">
                            <input id="bus_phone_number" pattern="\d" type="number" k="លេខទូរស័ព្ទឡានក្រុង រឺ ឡានឈ្នួល (បើមាន)" placeholder="Phone Number of Bus, Rent Car (Optional)">
                            <span class="input-close ion-ios-close-outline"></span>
                        </div>
                    </div>
                </div>
                
                <div class="gg">
                    <li class="item item-toggle">
                        <span k="ចាត់ទុកជាអាស័យដ្ឋានគោល">Set as Default Shipping Address</span>
                        <label class="toggle toggle-assertive">
                            <input type="hidden" id="default_address" value="1">
                            <input type="checkbox" id="default_address_toggle" checked="checked">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                        </label>
                        <script>
                            $('#default_address_toggle').on('click', function(){
                                if ($('#default_address').val() == '1') {
                                    $('#default_address').val(0);
                                } else {
                                    $('#default_address').val(1);
                                }
                            });
                        </script>
                    </li>
                </div>
                
                <div class="g">
                    <button id="submit_shipping_info_form" type="submit" onclick="postAddress()" k="ផ្ញើរមកកាន់អាស័យដ្ឋាននេះ">Deliver to this Address</button>               
                </div>
            </form>
            
        </div>            
    </div>  
</div>
<!-- /Shipping Info Modal -->


<!-- Payment Method Modal -->
<div id="payment_method_modal" class="modal">
    <div class="header-title" k="របៀបបង់ប្រាក់">Payment Method</div>
    <div class="back" onclick="closeModal('payment_method_modal')">
        <span class="close ion-ios-close-empty"></span>
    </div>
    <ion-content class="uu modal-body">
        <div id="cash_on_delivery_opt" class="a item item-complex" onclick="selectPaymentMethod('cash_on_delivery')">
            <a class="item-content">
                <div class="b" k="បង់ប្រាក់ពេលទទួលទំនិញ" id="cash_on_delivery">Cash on Delivery</div>
                <div class="c">
                    <span k="បង់ប្រាក់ពេលលោកអ្នកបានទទួលទំនិញរួចរាល់">Pay when you receive the product</span>
                </div>
            </a>
        </div>
        
        <div id="transfer_money_opt" class="a item item-complex" onclick="selectPaymentMethod('transfer_money')">
            <a class="item-content">
                <div class="b" k="ផ្ញើរប្រាក់តាមទូរស័ព្ទ">Transfer money</div>
                <div class="c payment" id="transfer_money">
                    <span k="ផ្ញើរប្រាក់តាម">Transfer money via</span>
                    <img class="d" src="img/wing.jpg"/>
                    <img class="e" src="img/true_money.jpg">
                    <img class="f" src="img/emoney.jpg">
                </div>
            </a>
        </div>
    </ion-content>
</div>
<!-- /Payment Method Modal -->





<!-- Description View All -->
<div id="description_modal" class="modal">
    <div class="header-title" k="ការពិពណ៌នាផលិតផល">Product Description</div>
    <div class="back" onclick="closeModal('description_modal')">
        <span class="close ion-ios-close-empty"></span>
    </div>
    <ion-content class="sm-modal-body">
        <div class="nj" id="description">
            <div class="a" k="ឈ្មោះផលិតផល">
                Product Name
            </div>
            <div class="b" id="title">
                
            </div>
            <div class="a" k="ការពិព័ណ៌នា">
                Description
            </div>
            <div class="b" id="desc">
                
            </div>
            <div class="a" k="រូបភាព">
                Photos
            </div>
            
            <div class="b" id="photo">
                
            </div>
        </div>
    </ion-content>
</div>
<!-- /Description View All-->

<!-- Store Modal -->
<div class="modal modal2" id="store_modal">
    <div class="back">
        <span class="ion-ios-arrow-left" onclick="closeStore()"></span>
    </div>
    
    <div class="no-tabs ion-content" id="product_page_content"> 
        <div id="store" class="st">
            <div class="a">
                <img id="timeline_pic" src="img/default_timeline_pic.jpg">
            </div>
            <div class="b">
                <div class="c">
                    <img id="profile_pic" src="http://nekoten.sangskrit.com/stores/aaaa/profile.jpg">
                </div>
                <div class="d">
                    <div class="e" id="name"></div>
                    <div class="f">
                        <div class="g"><span id="n_product">0</span> <span class="h" k="ទំនិញ">Product</span></div>
                        <div class="g"><span id="n_order">0</span> <span class="h" k="កម្មង់">Order</span></div>
                    </div>
                </div>
            </div>
            <div class="i">
                <div class="new-arrival">
                    <h3 k="ទំនិញក្នុងហាង">Product in this Store</h3>
                </div>  
                <div id="store_products">
                
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Store Modal -->

   
<!-- ms-alert -->
<div class="ms-alert" id="added_to_cart_alert">
    <div class="ms-alert-body">
        <div class="ms-alert-header" k="បានដាក់ក្នុងកន្ត្រកទំនិញរួចរាល់">Added to Shopping Cart</div>            
        <div class="ms-alert-buttons">                
            <div class="ms-alert-button cancel" onclick="$('.ms-alert').hide()" k="បិទ">OK</div>            
            <div class="ms-alert-button confirm" onclick="$('.ms-alert').hide(); $('.tab-nav').show(); closeModal('product_modal'); window.location.href='#tab/cart'" k="កន្ត្រកទំនិញ">Go to Cart</div>
        </div>                        
    </div>    
</div>

<div class="ms-alert" id="new_update_available_alert">
    <div class="ms-alert-body">
        <div class="ms-alert-header" style="padding:20px 0 0 0">New Update Available</div>  
        <div class="ms-alert-content" id="change_log">qwdwqddw</div>
        <div class="ms-alert-buttons">                
            <div class="ms-alert-button cancel" onclick="$('.ms-alert').hide();" k="ពេលក្រោយ">Later</div>            
            <div class="ms-alert-button confirm" onclick="$('.ms-alert').hide(); window.location.href='#tab/cart'" k="អាប់ដែតឥឡូវ">Update Now</div>
        </div>                        
    </div>    
</div>
    
<div class="ms-alert" id="alert_confirm">
    <div class="ms-alert-body">
        <div class="ms-alert-header"></div>            
        <div class="ms-alert-buttons">                
            <div class="ms-alert-button cancel" onclick="$('.ms-alert').hide()" k="បិទ">Cancel</div>            
            <div class="ms-alert-button confirm" onclick="$('.ms-alert').hide()" k="យល់ព្រម">OK</div>
        </div>                        
    </div>    
</div>

<script>
    /*
    alertConfirm(en, kh);
    $('#alert_confirm .confirm').on('click', function(){
    
    });
    myAlert(en, kh);
    $('#alert .confirm').on('click', function(){
    
    });
    */
</script>

<div class="ms-alert" id="alert">
    <div class="ms-alert-body">
        <div class="ms-alert-header"></div>            
        <div class="ms-alert-buttons">                            
            <div class="ms-alert-button confirm" onclick="$('.ms-alert').hide(); $('.tab-nav').show();" k="យល់ព្រម">OK</div>
        </div>                        
    </div>    
</div>

<div class="ms-alert" id="connection_error_alert">
    <div class="ms-alert-body">
        <div class="ms-alert-header" style="padding:20px 0 0 0">
            <span class="ion-alert-circled"></span>
            <span k="បណ្តាញមានបញ្ហា!">Connection Error!</span>                
        </div>                        
        <div class="ms-alert-content" k="សូមពិនិត្យការតភ្ជាប់ទៅនឹងអិុនធឺណេត">Please check your Internet Connection.</div>
        <div class="ms-alert-buttons">                            
            <div class="ms-alert-button confirm" onclick="$('.ms-alert').hide(); $('.tab-nav').show();" k="យល់ព្រម">OK</div>
        </div>                        
    </div>    
</div>
<!-- /ms-alert -->



<!-- Action Menu -->
<div class="ms-alert action-menu" id="choose_photo_action" onclick="closeActionMenu()">
    <div class="ms-alert-body">
        <div class="hh">
            
            <li class="item item-complex">
                <a class="item-content" onclick="takePhoto()">
                    <span class="a ion-ios-camera-outline" style="font-size:26px"></span>
                    <span class="b" k="ថតរូប">Take Photo</span>
                </a>
            </li>
            <li class="item item-complex">
                <a class="item-content" onclick="getPhotoFromGallery()">
                    <span class="a ion-ios-photos-outline"></span>
                    <span class="b" k="ជ្រើសរើសរូបថត">Choose From Library</span>
                </a>
            </li>
            <div class="aa"></div>
            <li class="item item-complex" onclick="closeActionMenu()">
                <a class="item-content">                
                    <strong class="b" k="ចាកចេញ">Cancel</strong>
                </a>
            </li>
        </div>
    </div>    
</div>

<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="{{home}}" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
        <ion-nav-view name="home"></ion-nav-view>
      </ion-tab>
     <ion-tab title="{{search}}" icon-off="ion-ios-search" icon-on="ion-ios-search" href="#/tab/search">
        <ion-nav-view name="search"></ion-nav-view>
      </ion-tab>
      <ion-tab title="{{cart}}" badge="1" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/cart">
        <ion-nav-view name="cart" ></ion-nav-view>
      </ion-tab>
      <!-- Account Tab -->
      <ion-tab title="{{my_account}}" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
        <ion-nav-view name="account"></ion-nav-view>
      </ion-tab>
      <ion-tab title="{{more}}" icon-off="ion-ios-more-outline" icon-on="ion-ios-more" href="#/tab/more">
        <ion-nav-view name="more"></ion-nav-view>
      </ion-tab>
</ion-tabs>

