<div class="app-header">
    <div class="header-title">
        <span k="ផ្ញើរប្រាក់">Transfer Money</span>        
    </div>
    <div class="back" ng-click="myGoBack()">
        <span class="ion-ios-arrow-left"></span>
    </div>
</div>
<ion-view hide-nav-bar="true" class="header-view">
    <ion-content>
        <div class="lk">
            <div class="a" k="សូមផ្ញើរប្រាក់មកកាន់">
                Please transfer money to
            </div>
            <div class="b">
                011 23 34 49
            </div>
            <div class="c payment">
                <span k="តាមរយៈ">via</span>
                <img class="d" src="img/wing.jpg"/>
                <img class="e" src="img/true_money.jpg">
                <img class="f" src="img/emoney.jpg">
           
            </div>
        </div>
        <div class="hr"></div>
        <div class="lk">
            <button class="g">
                <span class="h ion-ios-camera-outline"></span>
                <span k="ផ្ញើររូបភាពវិក័យប័ត្រផ្ញើរប្រាក់">Send photo of receipt</span>
            </button>
        </div>
        <div class="hr"></div>
    </ion-content>
</ion-view>

