<div class="app-header">
    <div class="header-title">
        <span k="ទំនិញចង់បាន">My Wishlist</span> 
        (<span id="n_wishlist">0</span>)
    </div>
    <div class="back" ng-click="myGoBack()">
        <span class="ion-ios-arrow-left"></span>
    </div>
</div>
<ion-view hide-nav-bar="true" class="header-view">
    <ion-content>
        <ion-refresher on-refresh="refresh('wishlist')"></ion-refresher>
        <div class="wrap">
            <ul id="wishlist_panel" class="cart">
                
            </ul>
        </div>
    </ion-content>
</ion-view>
<script>

    la();
    loadWishlistViewedItem('wishlist');
    function removeWishlist(ad_id){
        var user_id = localStorage.getItem('user_id');
        alertConfirm('Remove from Wishlist?', 'លុបចេញពីទំនិញចង់បាន?');            
        $('#alert_confirm .confirm').on('click', function(){                                      
            $.post(URL+'module/remove_wishlist.php',{ad_id:ad_id,user_id:user_id},function(data){
                if (data == 'success'){
                    loadWishlist();
                }
            });       
        });        
    }
    
    
    
</script>
